@charset "UTF-8";
@font-face {
  font-family: "KingsBureauGrot";
  src: url("../../assets/fonts/KingsBureauGrot-ThreeSeven.woff") format("woff"), url("../../assets/fonts/KingsBureauGrot-ThreeSeven.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "KingsBureauGrotFiveOne";
  src: url("../../assets/fonts/KingsBureauGrot-FiveOne.ttf") format("truetype");
  font-style: normal;
}

@media print {
  html, body {
    font-size: 14px;
    color: #333333;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  .quote-attribution {
    font-family: "KingsBureauGrot";
    color: #171717;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  h6, .h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700 !important;
  }
  h1, .h1 {
    font-size: 2.375rem;
    line-height: 1.1;
  }
  h2, .h2 {
    font-size: 1.875rem;
    line-height: 1.25;
  }
  h3, .h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: 0.25px;
  }
  h5, .h5 {
    font-size: 1.125rem;
    line-height: 1.4;
    letter-spacing: 0.5px;
  }
  h6, .h6 {
    font-size: 1rem;
    line-height: 1.4;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
    font-family: Open Sans, sans-serif;
    margin-bottom: 1.5rem;
    color: #333333;
  }
  .quote-box .quote-body,
  .blockquote .quote-body {
    font-size: 1.5rem;
    line-height: 1.25;
    font-family: KingsCaslonDisplay;
    margin-bottom: 1.5rem;
  }
  .caption {
    font-size: 1rem;
    line-height: 1.5;
    font-family: Open Sans, sans-serif;
    max-width: fit-content;
    margin: 0.5rem 0 0 0;
  }
  mark.text-highlight {
    background-color: #fdf1cf;
    padding: 2px 4px;
  }
  p a,
  li p a,
  figcaption a {
    text-decoration: underline;
    color: #002395;
    overflow-wrap: break-word;
  }
  p a:hover,
  li p a:hover,
  figcaption a:hover {
    color: #005AD2;
  }
  p a:visited,
  li p a:visited,
  figcaption a:visited {
    color: #0A2D50;
  }
  p a i.open-icon,
  li p a i.open-icon,
  figcaption a i.open-icon {
    display: inline-block;
    margin: 0.375rem 0 0.375rem 0.375rem;
    vertical-align: baseline;
    transform: translateY(-10%);
  }
  p a .sr-link-message,
  li p a .sr-link-message,
  figcaption a .sr-link-message {
    display: inline-block;
  }
  a.link-download, a.link-to-video {
    background-color: #fdf1cf;
    padding: 2px 4px;
  }
  ol, ul {
    margin: 0 0 1.5rem 2.25rem;
  }
  ol > li:not(:last-child), ul > li:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  ol ol, ol ul, ul ol, ul ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  ol ol > li:not(:last-child), ol ul > li:not(:last-child), ul ol > li:not(:last-child), ul ul > li:not(:last-child) {
    margin-bottom: 1rem;
  }
  pre {
    margin-bottom: 1.5rem;
    background-color: transparent;
    border: 1px solid #DCE3E6;
    border-radius: 0;
    padding: 1rem;
    white-space: pre-wrap;
  }
  pre code {
    border: none;
  }
  code {
    border: 1px solid #DCE3E6;
    background-color: #fbfcfc;
    color: #E2231A;
    border-radius: 4px;
  }
  .break-all {
    word-break: break-all;
  }
  hr {
    margin: 1.5rem 0;
    border: 1px solid #8B9296;
    border-width: 0 0 1px 0;
  }
}

/* print */
@media print {
  /* hide all other than main content */
  #block-region-side-post,
  #block-region-side-pre,
  #page-header,
  #page-header-nav,
  .navbar,
  .m-t-2.m-b-1,
  .back-to-top .fa-chevron-circle-up:before,
  #page-footer,
  .navbottom,
  #print-btn-container {
    display: none;
  }
  #wrapper {
    border: none;
  }
  /* page margins */
  #page-content {
    max-width: 85%;
    margin: 0 auto;
  }
  /* chapter margins */
  .book_chapter:not(:last-child) {
    margin-bottom: 4.5rem;
  }
  .book_chapter > a:first-child {
    display: none;
  }
  /* typography */
  html {
    font-size: 14px;
  }
  /*
  p, li {
    font-family: "Open Sans" !important;
    color: #333333;
  }
  */
  p a, li p a {
    position: relative;
    margin-right: 8px;
  }
  p a::after, li p a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 0.375rem;
    content: "\f0c1";
    position: absolute;
    font-size: 8px;
    margin-left: 1px;
  }
  .quote-box {
    border: 2px solid #5A6469;
    margin-bottom: 1.25rem;
    position: relative;
  }
  .quote-box > :first-child {
    padding: 1.25rem;
    padding-left: 4rem;
  }
  .quote-box > :first-child::before {
    content: '“';
    color: #464E52;
    font-family: "KingsCaslonDisplay";
    font-size: 4.5rem;
    top: 2.5rem;
    position: absolute;
    left: 1rem;
  }
  .quote-box .quote-attribution {
    margin: 0;
    font-size: 1.2rem;
  }
  /* bootstrap */
  .row {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    margin-left: -15px;
    margin-right: -15px;
  }
  .col, .col-md {
    flex-basis: 0;
    flex-grow: 1;
  }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .h-50 {
    height: 50% !important;
  }
  /* book info */
  .book_info table {
    margin-bottom: 4.5rem;
  }
  .book_info table tr td {
    padding: 0;
    color: #333333;
  }
  .book_info table tr td:nth-child(2) {
    padding-left: 1.25rem;
  }
  /* book table of contents */
  .book_toc_numbered ul,
  .book_toc_none ul,
  .book_toc_bullets ul,
  .book_toc_indented ul {
    margin-left: 0;
    margin-bottom: 4.5rem;
    page-break-after: always;
  }
  .book_toc_numbered ul li,
  .book_toc_none ul li,
  .book_toc_bullets ul li,
  .book_toc_indented ul li {
    list-style: none;
  }
  .book_toc_numbered > a:first-child,
  .book_toc_none > a:first-child,
  .book_toc_bullets > a:first-child,
  .book_toc_indented > a:first-child {
    display: none;
  }
  /* card and float box */
  .card {
    display: flex;
    flex-direction: row;
    border: 2px solid #5A6469;
    border-radius: 0;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
  }
  .card .card-title, .card h4 {
    margin-bottom: 0.625rem;
  }
  .card .card-body {
    background-color: transparent;
    padding: 0;
  }
  .card .card-body p:last-child {
    margin-bottom: 0;
  }
  .card img {
    margin: 0 1.25rem 0 0;
    width: 330px;
    height: 100%;
    flex-shrink: 0;
  }
  .card img.img-right {
    order: 2;
    margin: 0 0 0 1.25rem;
  }
  .card img.img-top {
    width: 100%;
    height: 100%;
    margin: 0 0 1.25rem 0;
  }
  .card-deck {
    display: block;
    margin: 0;
  }
  .card-deck .card {
    display: inline-block;
    width: calc(50% - 0.625rem - 4px);
    margin: 0 0.625rem 1.5rem 0;
  }
  .card-deck .card:last-child {
    margin: 0 0 1.5rem 0.625rem;
  }
  .card-deck .card img {
    width: 100%;
    height: auto;
  }
  .float-box {
    display: flex;
    margin-bottom: 1.25rem;
  }
  .float-box .img-right {
    order: 2;
    margin: 0 0 0 1.25rem;
  }
  /* carousel */
  .carousel::before,
  .carousel .carousel-control-prev,
  .carousel .carousel-control-next,
  .carousel .carousel-indicators {
    display: none;
  }
  .carousel .carousel-item {
    display: block;
    margin-bottom: 1.25rem;
    padding-top: 0 !important;
  }
  .carousel .carousel-item img {
    display: block;
    max-width: 75% !important;
  }
  .carousel .carousel-caption {
    display: block;
    position: static;
    max-width: 75%;
    padding: 1.25rem;
    background-color: transparent !important;
    border: 2px solid #5A6469;
  }
  .carousel .carousel-caption h4, .carousel .carousel-caption h5, .carousel .carousel-caption h6 {
    font-size: 1.125rem;
    color: #333333;
  }
  .carousel .carousel-caption p {
    color: #333333;
    margin-bottom: 1.25rem;
  }
  .carousel .carousel-caption p:last-child {
    margin-bottom: 0;
  }
  .carousel.text-only .carousel-caption {
    position: static;
    max-width: 100% !important;
  }
  .carousel:not(.text-only) {
    page-break-before: always;
  }
  /* collapse */
  .collapse-container {
    margin-bottom: 1.25rem;
  }
  .collapse-container .collapse-card {
    border-bottom: 2px solid #CDD7DC;
    padding: 1.25rem;
    padding-left: 4rem;
  }
  .collapse-container .collapse-card:first-child {
    border-top: 2px solid #CDD7DC;
  }
  .collapse-container .collapse-card .collapse-header {
    padding: 0;
  }
  .collapse-container .collapse-card .collapse-header button {
    margin: 0;
    padding: 0;
  }
  .collapse-container .collapse-card .collapse-header button h4, .collapse-container .collapse-card .collapse-header button h5, .collapse-container .collapse-card .collapse-header button h6 {
    position: relative;
    text-align: left;
  }
  .collapse-container .collapse-card .collapse-header button h4::before, .collapse-container .collapse-card .collapse-header button h5::before, .collapse-container .collapse-card .collapse-header button h6::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.375rem;
    content: "\f107";
    margin-right: 0;
    color: #5A6469;
    position: absolute;
    left: -2.5rem;
    top: -6px;
    font-size: 24px;
  }
  .collapse-container .collapse-card .collapse-header button h4::after, .collapse-container .collapse-card .collapse-header button h5::after, .collapse-container .collapse-card .collapse-header button h6::after {
    display: none;
  }
  .collapse-container .collapse-card .collapse-body {
    display: block !important;
    margin-bottom: 0;
  }
  .collapse-container .collapse-card .collapse-body p:last-child {
    margin: 0;
  }
  /* embed audio and video */
  .embed-responsive {
    height: 36px;
    width: 40px;
    display: inline-block;
    vertical-align: top;
    border-right: none;
    margin-right: -5px;
    position: relative;
  }
  .embed-responsive iframe {
    display: none;
  }
  .embed-responsive::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.375rem;
    content: "\f3c9";
    margin-right: 0;
    color: #333333;
    position: absolute;
    top: 6px;
    left: calc(50% - 12.25px);
    font-size: 28px;
  }
  .embed-responsive:not(.embed-responsive-audio)::before {
    content: "\f144";
    left: calc(50% - 18px);
    font-size: 24px;
  }
  .embed-responsive:not(.embed-responsive-audio) + .transcript-container::before {
    content: "Video transcript";
  }
  .embed-responsive + .transcript-container::before {
    content: "Audio transcript";
    position: absolute;
    left: calc(1.25rem + 2px);
    width: 200px;
    top: 4px;
  }
  /* transcript */
  .transcript-container {
    display: inline-block;
    width: calc(100% - 74px);
    margin-bottom: 1.25rem;
    position: relative;
  }
  .transcript-container .transcript-button-group {
    display: none;
  }
  .transcript-container .transcript-card {
    display: block;
  }
  .transcript-container .transcript-card .card-body {
    border-left: 2px solid #5A6469;
    padding-left: 1.25rem;
    padding-top: 3rem;
    margin-top: 0;
  }
  .transcript-container.collapsed .transcript-card {
    display: block;
  }
  /* images */
  .full-width-img, .img-full-width,
  .center-img, .img-center,
  .circular-img, .img-circular {
    margin-bottom: 1.25rem;
  }
  .full-width-img img:not(:last-child), .img-full-width img:not(:last-child),
  .center-img img:not(:last-child), .img-center img:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .full-width-img img, .img-full-width img {
    width: 100%;
  }
  .full-width-img .caption, .img-full-width .caption {
    margin-bottom: 0;
  }
  .center-img, .img-center {
    text-align: center;
  }
  .circular-img, .img-circular {
    border-radius: 50%;
    max-width: 100%;
  }
  /* info box */
  .definition-box,
  .alert-instructional,
  .feedback-box,
  .learning-outcome-box,
  .reading-box,
  .journal-box,
  .shared-box,
  .files-box {
    border: 2px solid #8B9296 !important;
    padding: 1.25rem !important;
    padding-left: 4rem !important;
    margin-bottom: 1.25rem;
    position: relative;
  }
  .definition-box > :first-child,
  .alert-instructional > :first-child,
  .feedback-box > :first-child,
  .learning-outcome-box > :first-child,
  .reading-box > :first-child,
  .journal-box > :first-child,
  .shared-box > :first-child,
  .files-box > :first-child {
    padding: 0 !important;
  }
  .definition-box > :first-child::before,
  .alert-instructional > :first-child::before,
  .feedback-box > :first-child::before,
  .learning-outcome-box > :first-child::before,
  .reading-box > :first-child::before,
  .journal-box > :first-child::before,
  .shared-box > :first-child::before,
  .files-box > :first-child::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.375rem;
    margin-right: 0;
    font-size: 1rem;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    color: #5A6469 !important;
  }
  .definition-box h3, .definition-box h4, .definition-box h5, .definition-box h6,
  .alert-instructional h3,
  .alert-instructional h4,
  .alert-instructional h5,
  .alert-instructional h6,
  .feedback-box h3,
  .feedback-box h4,
  .feedback-box h5,
  .feedback-box h6,
  .learning-outcome-box h3,
  .learning-outcome-box h4,
  .learning-outcome-box h5,
  .learning-outcome-box h6,
  .reading-box h3,
  .reading-box h4,
  .reading-box h5,
  .reading-box h6,
  .journal-box h3,
  .journal-box h4,
  .journal-box h5,
  .journal-box h6,
  .shared-box h3,
  .shared-box h4,
  .shared-box h5,
  .shared-box h6,
  .files-box h3,
  .files-box h4,
  .files-box h5,
  .files-box h6 {
    font-size: 1.2rem;
  }
  .definition-box p:last-child,
  .alert-instructional p:last-child,
  .feedback-box p:last-child,
  .learning-outcome-box p:last-child,
  .reading-box p:last-child,
  .journal-box p:last-child,
  .shared-box p:last-child,
  .files-box p:last-child {
    margin-bottom: 0;
  }
  .definition-box > :first-child::before {
    content: "\f02e";
    padding: 0 7px;
  }
  .alert {
    color: #333333;
  }
  .alert-instructional {
    padding: 1.25rem;
    background-color: #DCE3E6 !important;
  }
  .editing-help-box {
    display: none;
  }
  .feedback-box > :first-child::before {
    content: "\f27a";
    padding: 0 4px;
    top: 1.35rem;
  }
  .key-concept-box {
    padding: 1.25rem;
    font-weight: bold;
    background-color: #DCE3E6 !important;
    border: 2px solid #5A6469 !important;
    margin-bottom: 1.25rem;
  }
  .key-concept-box p:last-child {
    margin-bottom: 0;
  }
  .learning-outcome-box > :first-child::before {
    content: "\f091";
    padding: 0 3px;
    top: 1.6rem;
  }
  .learning-outcome-box ol, .learning-outcome-box ul {
    margin-bottom: 0 0 0 1.25rem;
  }
  .reading-box > :first-child::before {
    content: "\f5da";
    padding: 0 4px;
  }
  .journal-box > :first-child::before {
    content: "\f044";
    padding: 0 4px;
  }
  .shared-box > :first-child::before {
    content: "\f0c0";
    padding: 0 4px;
  }
  .files-box > :first-child::before {
    content: "\f07c";
    padding: 0 4px;
  }
  .media-box .transcript-card::before {
    content: "Transcript";
    position: absolute;
    font-size: 18px;
    font-family: 'KingsBureauGrot';
    top: 0;
    left: 1.5rem;
  }
  /* table */
  .table-bordered {
    border: 2px solid #5A6469 !important;
    border-radius: 0;
    border-collapse: collapse;
  }
  .table-bordered th, .table-bordered td {
    border: 2px solid #5A6469;
    padding: 0.25rem;
    font-size: 1rem;
  }
  .table-bordered th {
    background-color: #DCE3E6 !important;
    color: #171717;
  }
  .table-bordered td {
    color: #333333;
    font-size: 1rem;
  }
  /* process */
  .process-container .process-card {
    border: 1px solid black;
  }
  .process-container .process-card img {
    width: 130px;
    height: 130px;
    object-fit: cover;
  }
  .process-container .connector-container {
    text-align: center;
    margin-bottom: 1.25rem;
  }
  .process-container .connector-container .icon.arrow-down::before, .process-container .connector-container .icon.arrow-up::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 0.375rem;
    font-size: 30px;
    margin: 10px;
  }
  .process-container .connector-container .icon.arrow-down.arrow-down::before, .process-container .connector-container .icon.arrow-up.arrow-down::before {
    content: "\f063";
  }
  .process-container .connector-container .icon.arrow-down.arrow-up::before, .process-container .connector-container .icon.arrow-up.arrow-up::before {
    content: "\f062";
  }
  .process-container .connector-container .icon.relate::before {
    border-right: 3px solid black !important;
    height: 40px;
    width: 50%;
    margin: 10px;
  }
  /* timeline */
  .timeline-container {
    margin: calc(25px - 2.5rem) 0 0 0;
    padding: 0;
    overflow: hidden;
  }
  .timeline-container::before {
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
  }
  .timeline-container .timeline-row .col-auto {
    padding: 0 0 0 1.25rem;
  }
  .timeline-container .timeline-row .col.border-left {
    border-left: 1px solid #5A6469 !important;
  }
  .timeline-container .timeline-row .col.border-right {
    border-right: 1px solid #5A6469 !important;
  }
  .timeline-container .timeline-row .timeline-badge-pill {
    border-radius: 50%;
    border: 2px solid #5A6469 !important;
    height: calc(1.25rem - 2px) !important;
    width: 1.25rem !important;
    padding: 2px 0 0 0 !important;
    background-color: transparent !important;
    position: relative;
  }
  .timeline-container .timeline-row .timeline-badge-pill::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: calc(100% + 2px);
    border-top: 1px solid #5A6469 !important;
    border-bottom: 1px solid #5A6469 !important;
    width: 0.625rem;
  }
  .timeline-container .timeline-row .timeline-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  .timeline-container .timeline-row .timeline-content .timeline-card {
    margin: 2.5rem 0 0.25rem 0 !important;
    border: 2px solid #5A6469;
    border-radius: 0;
    max-width: calc(100% - 14px);
    padding: 1.25rem !important;
  }
  .timeline-container .timeline-row .timeline-content .timeline-card .date-tab {
    position: absolute;
    top: -26px;
    left: -2px;
    padding: 0 1.25rem;
    border-radius: 6px 6px 0 0;
    font-family: "KingsBureauGrot";
    line-height: 1.4;
    color: #171717;
    border: 2px solid #5A6469;
    border-bottom: none;
  }
  .timeline-container .timeline-row .timeline-content .timeline-card .card-body {
    width: 100% !important;
  }
  .timeline-container .timeline-row .timeline-content .timeline-card .card-body .row {
    margin: 0;
  }
  .timeline-container .timeline-row .timeline-content .timeline-card .card-body .row .col-md-3 img {
    max-width: 100%;
    height: auto;
    padding: 0 !important;
  }
  .timeline-container .timeline-row .timeline-content .timeline-card .card-body .row .col-md:not(:first-child) {
    margin-left: 1.25rem;
    padding: 0 !important;
  }
  .timeline-container .timeline-row .timeline-content .timeline-card .card-body .row .col-md h3, .timeline-container .timeline-row .timeline-content .timeline-card .card-body .row .col-md h4, .timeline-container .timeline-row .timeline-content .timeline-card .card-body .row .col-md h5, .timeline-container .timeline-row .timeline-content .timeline-card .card-body .row .col-md h6 {
    line-height: 1.4;
    font-size: 1.125rem;
  }
  .timeline-container .timeline-row .timeline-content .timeline-card .card-body .img-reference {
    text-align: right;
  }
  .timeline-container .timeline-row:last-child .timeline-content .timeline-card {
    margin-bottom: 1.25rem;
  }
  .timeline-container .timeline-row.highlighted .timeline-badge-pill,
  .timeline-container .timeline-row.highlighted .timeline-content .timeline-card .date-tab,
  .timeline-container .timeline-row.highlighted .timeline-content .timeline-card {
    background-color: #ffe1d2 !important;
  }
  .timeline-2021-container .timeline-card .card-body {
    flex: 1;
  }
  .timeline-2021-container .timeline-card .card-body .date-label {
    background-color: #5A6469 !important;
  }
  /* view answer */
  .view-answer-container > h3, .view-answer-container h4, .view-answer-container h5, .view-answer-container h6, .view-answer-container p,
  .view-description-container > h3,
  .view-description-container h4,
  .view-description-container h5,
  .view-description-container h6,
  .view-description-container p,
  .view-feedback-container > h3,
  .view-feedback-container h4,
  .view-feedback-container h5,
  .view-feedback-container h6,
  .view-feedback-container p,
  .view-generic-container > h3,
  .view-generic-container h4,
  .view-generic-container h5,
  .view-generic-container h6,
  .view-generic-container p,
  .view-model-answer-container > h3,
  .view-model-answer-container h4,
  .view-model-answer-container h5,
  .view-model-answer-container h6,
  .view-model-answer-container p {
    font-size: 1.2rem;
    margin-left: calc(150px + 1.25rem);
    border-left: 2px solid #5A6469;
    padding: 0 1.25rem 1.25rem 1.25rem;
    margin-bottom: 0;
  }
  .view-answer-container button,
  .view-description-container button,
  .view-feedback-container button,
  .view-generic-container button,
  .view-model-answer-container button {
    display: none;
  }
  .view-answer-container div[class^="view-"][class$="-card"],
  .view-description-container div[class^="view-"][class$="-card"],
  .view-feedback-container div[class^="view-"][class$="-card"],
  .view-generic-container div[class^="view-"][class$="-card"],
  .view-model-answer-container div[class^="view-"][class$="-card"] {
    display: block !important;
  }
  .view-answer-container div[class^="view-"][class$="-card"] .card-body,
  .view-description-container div[class^="view-"][class$="-card"] .card-body,
  .view-feedback-container div[class^="view-"][class$="-card"] .card-body,
  .view-generic-container div[class^="view-"][class$="-card"] .card-body,
  .view-model-answer-container div[class^="view-"][class$="-card"] .card-body {
    display: flex;
    border-left: none !important;
    margin: 0  !important;
    padding: 0  !important;
  }
  .view-answer-container div[class^="view-"][class$="-card"] .card-body .card-author,
  .view-description-container div[class^="view-"][class$="-card"] .card-body .card-author,
  .view-feedback-container div[class^="view-"][class$="-card"] .card-body .card-author,
  .view-generic-container div[class^="view-"][class$="-card"] .card-body .card-author,
  .view-model-answer-container div[class^="view-"][class$="-card"] .card-body .card-author {
    display: block !important;
    text-align: center;
    border-right: 2px solid #5A6469;
    padding-right: 1.25rem;
  }
  .view-answer-container div[class^="view-"][class$="-card"] .card-body .card-author img,
  .view-description-container div[class^="view-"][class$="-card"] .card-body .card-author img,
  .view-feedback-container div[class^="view-"][class$="-card"] .card-body .card-author img,
  .view-generic-container div[class^="view-"][class$="-card"] .card-body .card-author img,
  .view-model-answer-container div[class^="view-"][class$="-card"] .card-body .card-author img {
    border-radius: 50%;
    width: 150px !important;
    height: auto !important;
    margin: 0 0 0.625rem 0;
  }
  .view-answer-container div[class^="view-"][class$="-card"] .card-body .card-author .card-title,
  .view-description-container div[class^="view-"][class$="-card"] .card-body .card-author .card-title,
  .view-feedback-container div[class^="view-"][class$="-card"] .card-body .card-author .card-title,
  .view-generic-container div[class^="view-"][class$="-card"] .card-body .card-author .card-title,
  .view-model-answer-container div[class^="view-"][class$="-card"] .card-body .card-author .card-title {
    width: 150px !important;
  }
  .view-answer-container div[class^="view-"][class$="-card"] .card-body .card-text,
  .view-description-container div[class^="view-"][class$="-card"] .card-body .card-text,
  .view-feedback-container div[class^="view-"][class$="-card"] .card-body .card-text,
  .view-generic-container div[class^="view-"][class$="-card"] .card-body .card-text,
  .view-model-answer-container div[class^="view-"][class$="-card"] .card-body .card-text {
    margin-left: 1.25rem;
  }
  .view-answer-container div[class^="view-"][class$="-card"] .card-body .card-text:only-child,
  .view-description-container div[class^="view-"][class$="-card"] .card-body .card-text:only-child,
  .view-feedback-container div[class^="view-"][class$="-card"] .card-body .card-text:only-child,
  .view-generic-container div[class^="view-"][class$="-card"] .card-body .card-text:only-child,
  .view-model-answer-container div[class^="view-"][class$="-card"] .card-body .card-text:only-child {
    margin-left: calc(150px + 1.25rem);
    border-left: 2px solid #5A6469;
    padding-left: 1.25rem;
    max-width: calc(100% - 150px - 2px) !important;
    overflow: hidden;
  }
  .view-answer-container div[class^="view-"][class$="-card"] .card-body img,
  .view-description-container div[class^="view-"][class$="-card"] .card-body img,
  .view-feedback-container div[class^="view-"][class$="-card"] .card-body img,
  .view-generic-container div[class^="view-"][class$="-card"] .card-body img,
  .view-model-answer-container div[class^="view-"][class$="-card"] .card-body img {
    height: auto !important;
  }
}
