/* optional file to permanently underline activities titles
   see guidance:
   https://iddkingsonline.com/design-system/guidance/underline-activities.html */

.course-content ul.section li.activity .activityinstance a:not(.quickeditlink)
.instancename:not(.is-numbered),
.course-content ul.section li.activity .activityinstance a:not(.quickeditlink)
.instancename.is-numbered .activity-title,
.course-content ul.section li.activity .activityinstance
a:not(.quickeditlink):hover .instancename:not(.is-numbered),
.course-content ul.section li.activity .activityinstance
a:not(.quickeditlink):hover .instancename.is-numbered .activity-title {
  text-decoration: underline;
}
