/* Moodle activity or resource link
   ================================ */

// Table of contents
// =================
// (E) denotes visible in editing mode only
//
// 1. Editing move icon (E)
// 2. Activity title and label
//    - a) Moodle activity type icon (E)
//    - b) Activity title text
//    - c) Activity label container
//    - d) Quick edit title pencil icon (E)
// 3. Actions
//    - a) Edit dropdown menu (E)
//    - b) Copy to Sharing cart button (E)
// 4. Activity information (Completion info)
// 5. Availability info
// 6. Activity description
// -----------------


// width of 'Mark as done' button
$completion-progress-button-width-m: 100px;
// width of 'To do: Make a submission' and 'To do: Receive a grade' badges
// combined
$completion-progress-button-width-d: 326px;


// only Grid and Collapsed topics formtas are supported
#page-course-view-grid,
#page-course-view-topcoll {
  ul[class*="topics"] {
    ul.section {
      margin: 0;
      // hide activity labels on Module information, Forums and Webinars,
      // and Assessment pages
      &.section-hide-activity-labels {
        @extend %hide-activity-labels;
      }
      li.activity {
        padding: 0 !important;
        &:not(:last-child) {
          margin-bottom: $component-margin-bottom-sm;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.label {
          &:not(:first-of-type) {
            .no-overflow {
              & > h2, & > h3, & > h4, & > h5 {
                margin-top: 0.75rem !important;
              }
            }
          }
          .no-overflow {
            & > h2, & > h3, & > h4, & > h5 {
              line-height: 1.3;
            }
          }
          h2, h3, h4, h5, p {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &.type-study {
          .activityinstance {
            a.aalink,
            .dimmed {
              .activity-label-container {
                @extend %type-study;
              }
            }
          }
        }
        &.type-assessed {
          .activityinstance {
            a.aalink,
            .dimmed {
              .activity-label-container  {
                @extend %type-assessed;
              }
            }
            // grey out restricted activities
            a.dimmed,
            // link is removed in student view
            & > div.dimmed,
            // and "Available but not shown on course page" activities activity label
            a.stealth {
              .activity-label-container {
                @extend %type-assessed-unavailable;
              }
            }
          }
        }
        & > div {
          width: 100%;
          .mod-indent-outer {
            .mod-indent-1 {
              width: 0;
            }
            & > div:last-child {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
            }
          }
        }
        // 2. Activity title and label
        .activityinstance {
          flex-basis: 100%;
          min-width: unset;
          max-width: calc(100% - #{$completion-progress-button-width-m} -
          #{$component-margin-xs});
          height: auto;
          padding: 0;
          // 2a. Moodle activity type icon (E)
          img.activityicon {
            // hidden when editing mode is off
            display: none;
          }
          &:not(:last-child) {
            margin-bottom: 0;
          }
          @media only screen and (min-width: $neo-breakpoint) {
            max-width: calc(100% - #{$completion-progress-button-width-d} -
            #{$component-margin-sm});
          }
          a.aalink {
            // 2b. Activity title text
            .instancename {
              margin-bottom: $component-margin-xs;
            }
            &:hover {
              text-decoration: none;
              .instancename:not(.is-numbered),
              .instancename.is-numbered .activity-title {
                text-decoration: underline;
              }
            }
            // focus outline is misaligned when activity label present
            // so overriding with border instead
            &:focus {
              outline: none !important;
              border: 2px solid $sea-blue;
              margin-left: -2px;
              margin-right: -2px;
              padding: 2px 0;
            }
          }
          // restricted activities for students are inactive
          // and display as '.dimmed'
          a.aalink,
          .dimmed {
            max-width: 100%;
            // new span is created for activity title text
            // when activities are numbered
            .instancename {
              margin-right: $component-margin-sm;
              .activity-title {
                margin-left: 0.375rem;
                @media only screen and (min-width: $neo-breakpoint) {
                  margin-left: 0.75rem;
                }
              }
            }
            // 2c. Activity label container
            .activity-label-container {
              @extend %activity-label-container-default;
            }
          }
          .dimmed {
            .instancename {
              color: $slate-grey;
            }
            @extend %activity-label-unavailable;
          }
          // OU blog last modified
          .lastmodtext {
            display: block;
            margin: 4px 0 0 0;
          }
        }
        .actions {
          position: static;
          background: none;
        }
        // 4. Activity information (Completion info)
        .activity-information {
          display: flex;
          justify-content: flex-end;
          flex-basis: 100%;
          order: 2;
          float: none;
          max-width: $completion-progress-button-width-m;
          margin-bottom: 0;
          @media only screen and (min-width: $neo-breakpoint) {
            max-width: $completion-progress-button-width-d;
          }
          [data-region=completion-info] {
            height: auto;
            text-align: right;
            // manual 'Mark as done' button
            button {
              font-size: 1rem !important;
              padding: 2px 4px !important;
              margin: 0 !important;
              &:not(.btn-outline-success):not(:hover) {
                color: $midnight-blue !important;
                border: 1px solid $midnight-blue !important;
              }
            }
            // automatic completion conditions
            .badge {
              padding: 2px 4px;
              font-family: 'KingsBureauGrot';
              font-size: 1rem;
              // to match manual button
              line-height: 1.25rem;
              span {
                white-space: pre-wrap;
              }
              // keep original green colour for 'Done'
              &:not(.badge-success) {
                background-color: $slate-grey;
              }
              // only apply margin between multiple badges for the same
              // activity, and only on mobile
              &:not(:first-child) {
                margin-top: 0.25rem;
                @media only screen and (min-width: $neo-breakpoint) {
                  margin-top: 0;
                }
              }
            }
          }
        }
        // 5. Availability info
        .availabilityinfo {
          flex: 1 0 100%;
          order: 3;
          margin-top: $component-margin-xs;
          margin-left: 0;
          .label {
            white-space: pre-wrap;
            text-align: left;
            background-color: $sea-blue;
            color: $white;
          }
        }
        // 6. Activity description
        .contentafterlink {
           margin-left: 0;
          .no-overflow {
            padding: 0;
            p {
              margin: 0;
            }
          }
        }
        .contentafterlink,
        // activity description class changes from .contentafterlink
        // to .contentwithoutlink for restricted activties in student view
        .contentwithoutlink.dimmed_text:not(:only-child) {
          @extend %border-left-related-info;
          flex: 1 0 100%;
          order: 4;
          margin-top: $component-margin-xs;
          // restricted activity description
        }
        .contentwithoutlink {
          min-height: 1.5rem;
          // for some reason dont occupy same width
          width: 100%;
          order: 2;
          padding: 0;
          &.dimmed_text {
            opacity: 0.8;
            &:empty {
              display: none !important;
            }
          }
        }
        // Moodle File resource link
        &.resource {
          .resourcelinkdetails {
            color: $slate-grey;
            font-size: 14px;
          }
        }
      }
    }
  }
  // editing mode only
  &.editing {
    ul[class*="topics"] {
      ul.section {
        li.activity {
          & > div {
            // 1. Editing move icon (E)
            .editing_move {
              display: flex;
              align-items: center;
              height: 24px;
              left: 72px;
              @media only screen and (min-width: $neo-breakpoint) {
                left: 76px;
              }
            }
            .mod-indent-outer {
              padding: 0;
            }
          }
          // 2. Activity title and label
          .activityinstance {
            margin-left: 100px;
            max-width: calc(100% - 212px);
            @media only screen and (min-width: $neo-breakpoint) {
              margin-left: 106px;
              max-width: calc(100% - 448px);
            }
            .inplaceeditable {
              display: flex;
              a.aalink {
              // 2a. Moodle activity type icon (E)
                img.activityicon {
                  display: inline;
                }
              }
              // 2d. Quick edit title pencil icon (E)
              a.quickeditlink {
                margin-left: $component-margin-xs;
                .quickediticon img {
                  opacity: 0.8;
                }
              }
            }
          }
          .actions {
            display: flex;
            // 3a. Edit dropdown menu (E)
            .action-menu {
              position: absolute;
              left: 0;
              // edit dropdown button
              .menubar {
                // edit dropdown menu for editing activity
                .menu {
                  left: 0 !important;
                  width: min-content;
                }
              }
            }
            .filler {
              display: none !important;
            }
          }
          // 5. Availability info
          .availabilityinfo,
          // 6. Activity description
          .contentafterlink {
            // increase margins to account for edit dropdown menu and
            // editing move icon
            margin-left: 98px !important;
            max-width: calc(100% - 98px);
            @media only screen and (min-width: $neo-breakpoint) {
              margin-left: 108px !important;
              max-width: calc(100% - 108px);
            }
          }
          // folder and label activity type need extra indenting
          // to match .activityinstance of other activity types
          &.folder,
          &.label {
            .contentwithoutlink {
              margin-left: 100px !important;
              @media only screen and (min-width: $neo-breakpoint) {
                margin-left: 108px !important;
              }
            }
          }
          // add top margin to editing move icon and edit dropdown menu
          // for label activity to match text top margin
          &.label {
            .editing_move,
            .actions {
              margin-top: 0.75rem;
            }
          }
        }
      }
    }
    &.sharing-cart-enabled {
      ul[class*="topics"] {
        ul.section {
          li.activity {
            .activityinstance {
              margin-left: 132px !important;
              max-width: calc(100% - 244px);
              @media only screen and (min-width: $neo-breakpoint) {
                margin-left: 142px !important;
                max-width: calc(100% - 468px);
              }
            }
            .actions {
              // 3b. Copy to Sharing cart button (E)
              .add-to-sharing-cart {
                position: absolute;
                left: 102px;
                height: 24px;
                display: flex;
                align-items: center;
                @media only screen and (min-width: $neo-breakpoint) {
                  left: 108px;
                }
                i {
                  color: $rules-and-outlines;
                  &::before {
                    margin: 0;
                  }
                }
              }
            }
            // availability info and activity description
            // indented to match .activityistance
            .availabilityinfo,
            .contentafterlink,
            .contentwithoutlink {
              margin-left: 132px !important;
              max-width: calc(100% - 132px) !important;
              @media only screen and (min-width: $neo-breakpoint) {
                margin-left: 142px !important;
                max-width: calc(100% - 142px) !important;
              }
            }
            &.folder,
            &.label {
              .contentwithoutlink {
                margin-left: $component-margin-sm !important;
              }
            }
          }
        }
      }
    }
  }
}
