// Print typography
//  ==========================

// Table of contents
// =================
// 1. Fonts
//   - KingsBureauGrot
//   - Open Sans
//   - KingsCaslonDisplay
// 2. Headings
// 3. Paragraphs
// 4. Blockquotes
// 5. Captions
// 6. Highlighting
// 7. Hyperlinks
// 8. Preformatted text and code
// 9. Other
//    - .break-all
//    - hr


// 1. Fonts

// primary font used for headings
@font-face {
  font-family: "KingsBureauGrot";
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

// secondary fonts
// Open Sans support font used for body text within sidebar blocks
@font-face {
  font-family: "KingsBureauGrotFiveOne";
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf") format("truetype");
  font-style: normal;
}
// King's Caslon Display regular support font used for quotations
@font-face {
  font-family: "KingsCaslonDisplay";
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsCaslonDisplay.ttf") format("truetype");
  font-style: normal;
}

$font-kbg: (
  family: "KingsBureauGrot",
  h1: ( font-size: 2.375rem, line-height: 1.1 ),
  h2: ( font-size: 1.875rem, line-height: 1.25 ),
  h3: ( font-size: 1.5rem, line-height: 1.25 ),
  h4: ( font-size: 1.25rem, line-height: 1.4 ),
  h5: ( font-size: 1.125rem, line-height: 1.4 ),
  h6: ( font-size: 1rem, line-height: 1.4 ),
  h1-sm: ( font-size: 1.75rem, line-height: 1.2),
  h2-sm: ( font-size: 1.5rem, line-height: 1.25 ),
  h3-sm: ( font-size: 1.25rem, line-height: 1.25 ),
  h4-sm: ( font-size: 1.125rem, line-height: 1.4 ),
  h56-sm: ( font-size: 1rem, line-height: 1.4 ),
  btn: ( font-size: 1.125rem !important, line-height: 1.25 !important),
  btn-lg: ( font-size: 1.25rem !important, line-height: 1.5 !important)
);
$font-os: (
  family: "Open Sans, sans-serif",
  p: ( font-size: 1rem, line-height: 1.5 ),
  caption: ( font-size: 1rem, line-height: 1.5 ),
  key-concept: ( font-size: 1rem, line-height: 1.5 )
);
$font-kcd: (
  family:  "KingsCaslonDisplay",
  quote-body: ( font-size: 1.5rem, line-height: 1.25 ),
  quote-body-sm: ( font-size: 1.25rem, line-height: 1.25 )
);

$font-default: $font-kbg;
@function _fontset-feature($feature, $family: $font-default, $set: "base"){
  $result: map-get(map-get($family, $set), $feature);
  @return ($result);
}
@function fontset-family($family) {
  $result: map-get($family, family);
  @return unquote($result);
}
@function calc-font-size($set, $family:$font-default) {
  @return _fontset-feature(font-size, $family, $set);
}
@function calc-line-height($set, $family:$font-default) {
  @return _fontset-feature(line-height, $family, $set);
}
@mixin font-scale ($font-size, $family:$font-default,
$line-height:$font-size) {
  font-size: calc-font-size($font-size, $family);
  line-height: calc-line-height($line-height, $family);
  @if $family != $font-default {
    font-family: fontset-family($family);
  }
}

html, body {
  font-size: 14px;
  color: $body-text;
}

#page-mod-book-print {

  // 2. Headings

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  %h1, %h2, %h3, %h4, %h5, %h6,
  .quote-attribution {
    font-family: "KingsBureauGrot";
    color: $headings;
    margin-top: 0;
    margin-bottom: $component-margin-bottom-sm;
  }
  h6, .h6, %h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700 !important;
  }
  h1, .h1, %h1 { @include font-scale(h1) ;}
  h2, .h2, %h2 { @include font-scale(h2) ;}
  h3, .h3, %h3 { @include font-scale(h3) ;}
  h4, .h4, %h4 {
    @include font-scale(h4);
    letter-spacing: 0.25px;
  }
  h5, .h5, %h5 {
    @include font-scale(h5);
    letter-spacing: 0.5px;
  }
  h6, .h6, %h6 { @include font-scale(h6) ;}

  // 3. Paragraphs

  p {
    @include font-scale(p, $font-os);
    color: $body-text;
    &:not(:last-child) {
      margin-bottom: $component-margin-bottom;
    }
    :last-child {
      margin-bottom: 0;
    }
  }

  // 4. Blockquotes
  .quote-box,
  .blockquote {
    .quote-body {
      @include font-scale(quote-body, $font-kcd);
      margin-bottom: 1.5rem;
    }
  }
  // 5. Captions
  %caption {
    @include font-scale(caption, $font-os);
    max-width: fit-content;
    margin: $component-margin-bottom-xs 0 0 0;
  }
  .caption,
  figcaption {
    @extend %caption;
  }

  // 6. Highlighting
    mark.text-highlight {
      @extend %text-highlight;
    }

  // 7. Hyperlinks

  p a,
  li p a,
  figcaption a {
    @extend %ds-link;
    // icon for external links
    i.open-icon {
      display: inline-block;
      margin: 0.375rem 0 0.375rem 0.375rem;
      vertical-align: baseline;
      transform: translateY(-10%);
    }
    .sr-link-message {
      display: inline-block;
    } 
  }
  a {
    // link download
    // download button in components/_button
    &.link-download,
    // link to video
    &.link-to-video {
      @extend %text-highlight;
      background-color: transparent;
    }
  }
    
  // 7. Lists

  ol, ul {
    & > li {
      counter-increment: nested-list-item;
      &:not(:last-child) {
        margin-bottom: $component-margin-bottom;
      }
    }
    ol, ul {
      margin-top: $component-margin-sm;
      margin-bottom: 0;
      & > li:not(:last-child) {
        margin-bottom: $component-margin-bottom-sm;
      }
    }
  }
/*
  ol {
    counter-reset: nested-list-item;
    margin: 0 0 $component-margin-bottom calc(#{$component-margin} / 2);
    // remove marker to replace with counter
    list-style-type: none;
    & > li {
      display: table;
      &::before {
        content: counter(nested-list-item) ".";
        display: table-cell;
        padding-right: $component-margin-xs;
      }
      & > ol {
        & > li {
          &::before {
            content: counters(nested-list-item, ".");
          }
        }
      }
    }
  }
  ul {
    margin: 0 0 $component-margin-bottom $component-margin-lg;
    ol {
      & > li {
        &::before {
          content: counters(nested-list-item, ".");
        }
      }
    }
  }
*/

  // 8. Preformatted text and code

  pre {
    margin-bottom: $component-margin-bottom;
    background-color: transparent;
    border: 1px solid $block-header;
    border-radius: 0;
    padding: $component-margin-sm;
    white-space: pre-wrap;
    code {
      border: none;
    }
  }
  code {
    border: 1px solid $block-header;
    background-color: tint($block-background, 80%);
    color: $kings-red;
    border-radius: 4px;
  }

  // 9. Other

  // custom class for urls to wrap
  .break-all {
    word-break: break-all;
  }

  hr {
    margin: $component-margin 0;
    border: 1px solid $rules-and-outlines;
    border-width: 0 0 1px 0;
  }
}
