@charset "UTF-8";

@import "../utilities/variables";
@import "../base/icons";
@import "../base/typography";
@import "../base/common";

// primary font used for headings
@font-face {
  font-family: "KingsBureauGrot";
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
// secondary fonts
// Open Sans support font used for body text within sidebar blocks
@font-face {
  font-family: "KingsBureauGrotFiveOne";
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf") format("truetype");
  font-style: normal;
}
// King's Caslon Display regular support font used for quotations
@font-face {
  font-family: "KingsCaslonDisplay";
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsCaslonDisplay.ttf") format("truetype");
  font-style: normal;
}

html {
  font-size: 16px;
}

/* print */
@media print {
  /* hide all other than main content */
  #block-region-side-post,
  #block-region-side-pre,
  #page-header,
  #page-header-nav,
  .navbar,
  .m-t-2.m-b-1,
  .back-to-top .fa-chevron-circle-up:before,
  #page-footer,
  .navbottom,
  #print-btn-container {
    display: none;
  }
  #wrapper {
    border: none;
  }

  /* page margins */
  #page-content {
    max-width: 85%;
    margin: 0 auto;
  }

  /* chapter margins */
  .book_chapter:not(:last-child) {
    margin-bottom: 4.5rem;
  }
  .book_chapter > a:first-child {
    display: none;
  }

  /* typography */
  html {
    font-size: 14px;
  }
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
    font-family: "KingsBureauGrot";
    color: #171717;
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
  h1::after, h2::after, h3::after, h4::after, h5::after, h6::after,
  .h1::after, .h2::after, .h3::after, .h4::after, .h5::after, .h6::after {
    content: "";
    display: inline-block;
    padding-top: 40px;
    margin-bottom: -40px;
    vertical-align: top;
  }
  h1, .h1 {
    font-size: 2.375rem;
    line-height: 1.1;
  }
  h2, .h2 {
    font-size: 1.875rem;
    line-height: 1.125;
  }
  h3, .h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.4;
  }
  h5, .h5 {
    font-size: 1.125rem;
    line-height: 1.4;
  }
   h6, .h6 {
    font-family: "Open Sans";
    font-size: 1rem;
    line-height: 1.4;
  }
  p, li {
    font-family: "Open Sans" !important;
    color: #333333;
  }
  p {
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  p a, li p a {
    text-decoration: underline;
    position: relative;
    margin-right: 8px;
  }
  p a::after, li p a::after {
    @include icon-after;
    @include fa-content($fa-link);
    position: absolute;
    font-size: 8px;
    margin-left: 1px;
  }
  ol, ul {
    margin: 0 0 1.25rem 1.25rem;
  }
  li:not(:last-child) {
    margin-bottom: 0.625rem;
  }
  .caption {
    font-size: 0.875rem;
  }
  .alert {
    color: #333333;
  }
  .quote-box {
    page-break-inside: avoid;
    border: 2px solid #464e52;
    margin-bottom: 1.25rem;
    position: relative;
    & > :first-child {
      padding: 1.25rem;
      padding-left: 4rem;
       &::before {
        content: '“';
        color: #464E52;
        font-family: "KingsCaslonDisplay";
        font-size: 4.5rem;
        top: 2.5rem;
        position: absolute;
        left: 1rem;
      }
    }
    .quote-attribution {
      margin: 0;
      font-size: 1.2rem;
    }
    .quote-body {
      font-family: "KingsCaslonDisplay";
    }
  }

  /* bootstrap */
  .row {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    margin-left: -15px;
    margin-right: -15px;

  }
  .col, .col-md {
    flex-basis: 0;
    flex-grow: 1;
  }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .h-50 {
    height: 50% !important;
  }

  /* book info */
  .book_info {
    table {
      margin-bottom: 4.5rem;
      tr {
        td {
          padding: 0;
          color: #333333;
          &:nth-child(2) {
            padding-left: 1.25rem;
          }
        }
      }
    }
  }

  /* book table of contents */
  .book_toc_numbered,
  .book_toc_none,
  .book_toc_bullets,
  .book_toc_indented {
    ul {
      margin-left: 0;
      margin-bottom: 4.5rem;
      page-break-after: always;
      li {
        list-style: none;
      }
    }
    & > a:first-child {
      display: none;
    }
  }

  /* card and float box */
  .card {
    page-break-inside: avoid;
    display: flex;
    flex-direction: row;
    border: 2px solid #5a6469;
    border-radius: 0;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    .card-title, h4 {
      margin-bottom: 0.625rem;
    }
    .card-body {
      background-color: transparent;
      padding: 0;
      p:last-child {
        margin-bottom: 0;
      }
    }
    img {
      margin: 0 1.25rem 0 0;
      width: 330px;
      height: 100%;
      flex-shrink: 0;
      &.img-right {
        order: 2;
        margin: 0 0 0 1.25rem;
      }
      &.img-top {
        width: 100%;
        height: 100%;
        margin: 0 0 1.25rem 0;
      }
    }
  }
  .card-deck {
    page-break-inside: avoid;
    display: block;
    margin: 0;
    .card {
      display: inline-block;
      width: calc(50% - 0.625rem - 4px);
      margin: 0 0.625rem 1.5rem 0;
      &:last-child {
        margin: 0 0 1.5rem 0.625rem;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .float-box {
    page-break-inside: avoid;
    display: flex;
    margin-bottom: 1.25rem;
    .img-right {
      order: 2;
      margin: 0 0 0 1.25rem;
    }
  }

  /* carousel */
  .carousel {
    &::before,
    .carousel-control-prev,
    .carousel-control-next,
    .carousel-indicators {
      display: none;
    }
    .carousel-item {
      page-break-inside: avoid;
      display: block;
      margin-bottom: 1.25rem;
      padding-top: 0 !important;
      img {
        display: block;
        max-width: 75% !important;
      }
    }
    .carousel-caption {
      display: block;
      position: static;
      max-width: 75%;
      padding: 1.25rem;
      background-color: transparent !important;
      border: 2px solid #5a6469;
      h4, h5, h6 {
        font-size: 1.125rem;
        color: #333333;
      }
      p {
        color: #333333;
        margin-bottom: 1.25rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.text-only {
      .carousel-caption {
        position: static;
        max-width: 100% !important;
      }
    }
    &:not(.text-only) {
      page-break-before: always;
    }
  }

  /* collapse */
  .collapse-container {
    page-break-inside: avoid;
    margin-bottom: 1.25rem;
    .collapse-card {
      border-bottom: 2px solid #cdd7dc;
      padding: 1.25rem;
      padding-left: 4rem;
      &:first-child {
        border-top: 2px solid #cdd7dc;
      }
      .collapse-header {
        padding: 0;
        button {
          margin: 0;
          padding: 0;
          h4, h5, h6 {
            position: relative;
            text-align: left;
            &::before {
              @include icon-before;
              @include fa-content($fa-angle-down);
              margin-right: 0;
              color: #5a6469;
              position: absolute;
              left: -2.5rem;
              top: -6px;
              font-size: 24px;
            }
            &::after {
              display: none;
            }
          }
        }
      }
      .collapse-body {
        display: block !important;
        margin-bottom: 0;
        p:last-child {
          margin: 0;
        }
      }
    }
  }

  /* embed audio and video */
  .embed-responsive {
    height: 36px;
    width: 40px;
    display: inline-block;
    vertical-align: top;
    border-right: none;
    margin-right: -5px;
    position: relative;
    iframe {
      display: none;
    }
    &::before {
      @include icon-before;
      @include fa-content($fa-microphone-alt);
      margin-right: 0;
      color: $body-text;
      position: absolute;
      top: 6px;
      left: calc(50% - 12.25px);
      font-size: 28px;
    }
    &:not(.embed-responsive-audio) {
      &::before {
        @include fa-content($fa-play-circle);
        left: calc(50% - 18px);
        font-size: 24px;
      }
      & + .transcript-container::before {
        content: "Video transcript";
      }
    }
    & + .transcript-container::before {
      content: "Audio transcript";
      position: absolute;
      left: calc(1.25rem + 2px);
      width: 200px;
      top: 4px;
    }
  }
  /* transcript */
  .transcript-container {
    page-break-inside: avoid;
    display: inline-block;
    width: calc(100% - 74px);
    margin-bottom: 1.25rem;
    position: relative;
    .transcript-button-group {
      display: none;
    }
    .transcript-card {
      display: block;
      .card-body {
        page-break-inside: avoid;
        border-left: 2px solid #5a6469;
        padding-left: 1.25rem;
        padding-top: 3rem;
        margin-top: 0;
      }
    }
    &.collapsed {
      .transcript-card {
        display: block;
      }
    }
  }

  /* images */
  .full-width-img, .img-full-width,
  .center-img, .img-center,
  .circular-img, .img-circular {
    margin-bottom: 1.25rem;
  }
  .full-width-img, .img-full-width,
  .center-img, .img-center {
    img:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }
  .full-width-img, .img-full-width {
    img {
      width: 100%;
    }
    .caption {
      margin-bottom: 0;
    }
  }
  .center-img, .img-center {
    text-align: center;
  }
  .circular-img, .img-circular {
    border-radius: 50%;
    max-width: 100%;
  }

  /* info box */
  .definition-box,
  .alert-instructional,
  .feedback-box,
  .learning-outcome-box,
  .reading-box,
  .journal-box,
  .shared-box,
  .files-box {
    page-break-inside: avoid;
    border: 2px solid #8b9296 !important;
    padding: 1.25rem !important;
    padding-left: 4rem !important;
    margin-bottom: 1.25rem;
    position: relative;
    & > :first-child {
      padding: 0 !important;
      &::before {
        @include icon-before;
        margin-right: 0;
        font-size: 1rem;
        position: absolute;
        top: 1.25rem;
        left: 1.25rem;
        color: #5a6469 !important;
      }
    }
    h3, h4, h5, h6 {
      font-size: 1.2rem;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .definition-box > :first-child::before {
    @include fa-content($fa-bookmark);
    padding: 0 7px;
  }
  .alert-instructional {
    background-color: #dce3e6 !important;
    > :first-child::before {
      @include fa-content($fa-comments);
      padding: 0 2px;
    }
  }
  .editing-help-box {
    display: none;
  }
  .feedback-box > :first-child::before {
    @include fa-content($fa-comments-alt);
    padding: 0 4px;
    top: 1.35rem;
  }
  .key-concept-box {
    padding: 1.25rem;
    font-weight: bold;
    background-color: #dce3e6 !important;
    border: 2px solid #5a6469 !important;
    margin-bottom: 1.25rem;
    p:last-child {
      margin-bottom: 0;
    }
  }
  .learning-outcome-box {
    & > :first-child::before {
      @include fa-content($fa-trophy);
      padding: 0 3px;
      top: 1.6rem;
    }
    ol, ul {
       margin-bottom: 0 0 0 1.25rem;
    }
  }
  .reading-box > :first-child::before {
    @include fa-content($fa-book-reader);
    padding: 0 4px;
  }
  .journal-box > :first-child::before {
    @include fa-content($fa-edit);
    padding: 0 4px;
  }
  .shared-box > :first-child::before {
    @include fa-content($fa-users);
    padding: 0 4px;
  }
  .files-box > :first-child::before {
    @include fa-content($fa-folder-open);
    padding: 0 4px;
  }

  /* table */
  .table-bordered {
    page-break-inside: avoid;
    border: 2px solid #5a6469 !important;
    border-radius: 0;
    border-collapse: collapse;
    th, td {
      border: 2px solid #5a6469;
      padding: 0.25rem;
      font-size: 1rem;
    }
    th {
      background-color: #dce3e6 !important;
      color: #171717;
    }
    td {
      color: #333333;
      font-size: 1rem;
    }
  }

  /* process */
  .process-container {
    .process-card {
      border: 1px solid black;
      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
      }
    }
    .connector-container {
      text-align:center;
      margin-bottom: 1.25rem;
      .icon {
        &.arrow-down,
        &.arrow-up {
          &::before {
           @include icon-before;
            font-size: 30px;
            margin: 10px;
          }
          &.arrow-down::before {
            @include fa-content($fa-arrow-down);
          }
          &.arrow-up::before {
            @include fa-content($fa-arrow-up);
          }
        }
        &.relate::before {
          border-right: 3px solid black !important;
          height: 40px;
          width: 50%;
          margin: 10px;
        }
      }
    }
  }

   /* timeline */
  .timeline-container {
    page-break-inside: avoid;
    margin: calc(25px - 2.5rem) 0 0 0;
    padding: 0;
    overflow: hidden;
    &::before {
      content: "";
      display: block;
      height: 100px;
      margin-top: -100px;
    }
    .timeline-row {
      .col-auto {
        padding: 0 0 0 1.25rem;
      }
      .col.border-left {
        border-left: 1px solid #5a6469 !important;
      }
      .col.border-right {
        border-right: 1px solid #5a6469 !important;
      }
      .timeline-badge-pill {
        border-radius: 50%;
        border: 2px solid #5a6469 !important;
        height: calc(1.25rem - 2px) !important;
        width: 1.25rem !important;
        padding: 2px 0 0 0 !important;
        background-color: transparent !important;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          display: block;
          top: 50%;
          left: calc(100% + 2px);
          border-top: 1px solid #5a6469 !important;
          border-bottom: 1px solid #5a6469 !important;
          width: 0.625rem;
        }
      }
      .timeline-content {
        page-break-inside: avoid;
        margin: 0 !important;
        padding: 0 !important;
        .timeline-card {
          margin: 2.5rem 0 0.25rem 0 !important;
          border: 2px solid #5a6469;
          border-radius: 0;
          max-width: calc(100% - 14px);
          padding: 1.25rem !important;
          .date-tab {
            position: absolute;
            top: -26px;
            left: -2px;
            padding: 0 1.25rem;
            border-radius: 6px 6px 0 0;
            font-family: "KingsBureauGrot";
            line-height: 1.4;
            color: #171717;
            border: 2px solid #5a6469;
            border-bottom: none;
          }
          .card-body {
            width: 100% !important;
            .row {
              margin: 0;
              .col-md-3 img {
                max-width: 100%;
                height: auto;
                padding: 0 !important;
              }
              .col-md {
                &:not(:first-child) {
                  margin-left: 1.25rem;
                  padding: 0 !important;
                }
                h3, h4, h5, h6 {
                  line-height: 1.4;
                  font-size: 1.125rem;
                }
              }
            }
            .img-reference {
              text-align: right;
              font-size: 0.875rem;
            }
          }
        }
      }
      &:last-child {
        .timeline-content {
          .timeline-card {
            margin-bottom: 1.25rem;
          }
        }
      }
      &.highlighted {
        .timeline-badge-pill,
        .timeline-content .timeline-card .date-tab,
        .timeline-content .timeline-card {
          background-color: #ffe1d2 !important;
        }
      }
    }
  }

  /* view answer */
  .view-answer-container,
  .view-description-container,
  .view-feedback-container,
  .view-generic-container,
  .view-model-answer-container {
    page-break-inside: avoid;
    & > h3, h4, h5, h6 {
      font-size: 1.2rem;
      margin-left: calc(150px + 1.25rem);
      border-left: 2px solid #5a6469;
      padding: 0 1.25rem 1.25rem 1.25rem;
      margin-bottom: 0;
    }
    button {
      display: none;
    }
    div[class^="view-"][class$="-card"] {
      display: block !important;
      .card-body {
        display: flex;
        border-left: none !important;
        margin: 0  !important;
        padding: 0  !important;
        .card-author {
          display: block !important;
          text-align: center;
          border-right: 2px solid #5a6469;
          padding-right: 1.25rem;
          img {
            border-radius: 50%;
            width: 150px !important;
            height: auto !important;
            margin: 0 0 0.625rem 0;
          }
          .card-title {
            width: 150px !important;
          }
        }
        .card-text {
          margin-left: 1.25rem;
          &:only-child {
            margin-left: calc(150px + 1.25rem);
            border-left: 2px solid #5a6469;
            padding-left: 1.25rem;
            max-width: calc(100% - 150px - 2px) !important;
            overflow: hidden;
          }
        }
        img {
             height: auto !important;
          }
      }
    }
  }
}
