/* Course view
   ======================== */

// only grid and collapsed topics formats are supported
#page-course-view-grid,
#page-course-view-topcoll {
  #region-main {
    .course-content {
      li.activity {
        div.activityinstance div.dimmed.dimmed_text {
          span.instancename {
            color: $slate-grey;
          }
          div.activity-label-container {
            div.activity-label, div.group-icon, div.media-icon {
              color: $slate-grey;
            }
          }
        }
        &.type-assessed div.activityinstance div.dimmed.dimmed_text div.activity-label-container div.activity-label {
          color: $white;
          background-color: $slate-grey;
        }
      }
    }
  }
  // grid format only
  &.format-grid {
  }
  // collapsed topics only
  &.format-topcoll {
  }
  // editing mode on for both grid and collapsed topics format
  &.editing {
  }
}
