/* Editor
   ======================== */

// see Modal for .modchooser and .filepicker

// hide activity icon from add a new activity page
.editing #region-main h2:first-of-type > img.icon {
  display: none;
}

// remove standard button styles from editor buttons
.editor_atto_toolbar {
  .atto_group {
    & > button {
      margin: 0 !important;
      padding: 4px 8px !important;
      border-radius: 0 !important;
      & > :first-child {
        border-radius: 4px 0 0 4px !important;
      }
      & > :last-child {
        border-radius: 0 4px 4px 0 !important;
      }
    }
  }
}
