// -----------------------------------------------------------------------------
// forum
// -----------------------------------------------------------------------------

//add new forum button
.forumaddnew {
  div {
    margin: 0;
    input[type="submit"]:first-child {
      @extend .btn, .btn-primary;
      margin: 0;
    }
  }
}

// forum summary page
.path-mod-forum {
  #page-navbar .breadcrumb-button .forumsearch {
    form {
      margin-bottom: $component-margin-bottom;
      img.icon, img.iconhelp {
        padding: 0;
      }
      input#search {
        height: 2.625rem;
        border-radius: 5px;
      }
      input#searchforums {
        @extend .btn, .btn-primary;
        margin: 0;
      }
    }
  }
  .forumheaderlist {
    thead .header {
      font-family: 'KingsBureauGrot';
      border-top: inherit;
      border-left: 0 !important;
      background-color: transprent;
    }
    tr {
      font-family: 'KingsBureauGrotFiveOne';
      border-top: 1px solid $table-border;
      &:last-child {
        border-bottom: 1px solid $table-border;
      }
      td {
        background-color: transpraent !important;
        border: inherit;
        vertical-align: middle;
        &.author .media:first-child {
          display: flex;
          align-items: center;
          img.userpicture {
            border-radius: 50%;
          }
        }
      }
    }
  }
  .discussion-nav {
    font-family: 'KingsBureauGrot';
  }
}

#page-mod-forum-discuss, #page-mod-forum-view, #page-mod-forum-post {
  .notifications {
    .alert.alert-success {
      &>:first-child::before {
        display: none;
      }
      p:first-of-type {
        @extend .h5;
        margin: 0.5rem 0.25rem 1rem 3.125rem;
        &::before {
          content: '\f164';
          font-family: 'Font Awesome 5 Pro';
          color: #28C382;
          padding: 0 4px;
          font-weight: 900;
          position: absolute;
          top: 1.25rem;
          left: 1.5rem;
        }
      }
      p {
        margin: 0 0.25rem 1rem 3.125rem;
        font-family: 'KingsBureauGrotFiveOne';
      }
    }
  }
  // select post display option or forum mode
  .discussioncontrols {
    margin: 0;
    .controlscontainer {
      .discussioncontrol {
        float: none;
        &.nullcontrol {
          display: none;
        }
        &.displaymode {
          width: fit-content;
        }
      }
    }
  }
  div.forummode {
    margin-bottom: $component-margin-bottom-sm;
    .custom-select.forummode {
      font-size: 1rem;
      height: auto;
    }
  }
  .forumpost {
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid $table-border;
    padding: $component-margin-sm;
    .header {
      background: none;
      margin-bottom: 0;
      padding: 0;
      .picture {
        position: absolute;
        img.userpicture {
          margin: 0;
        }
      }
      .topic {
        margin-left: 3.75rem;
        .subject {
          font-family: 'KingsBureauGrot';
          color: $headings;
          margin-bottom: $component-margin-bottom-sm;
        }
        .author {
          font-family: 'KingsBureauGrotFiveOne';
          margin-bottom: $component-margin-bottom;
          a {
            font-family: 'KingsBureauGrot';
          }
          &::before {
            display: none;
          }
        }
      }
    }
    .maincontent .content {
      margin-left: 3.75rem;
      .posting.fullpost {
        margin-top: 0;
      }
    }
    .row.side {
      .options {
        margin-left: 0.75rem;
        .commands {
          text-align: left;
          a {
            font-family: 'KingsBureauGrot';
          }
        }
      }
    }
    &.firstpost {
      padding: 0 $component-margin-sm $component-margin-sm 0;
      .header .author::before {
        display: none;
      }
      .row.side .options {
        margin-left: 0;
      }
    }
  }
  .indent {
    margin-left: $component-margin-sm;
    & > a:first-child {
      display: none;
    }
  }
  &.forumtype-single {
    .forumpost {
      &.firstpost {
        .header {
          .subject {
            display: none;
          }
          .author {
            @extend .h6;
            color: $slate-grey;
          }
        }
        .maincontent .content {
          margin-left: 0;
        }
        .row.side {
          .left {
            display: none;
          }
        }
      }
    }
  }
}
#page-mod-forum-post {
  .forumpost {
    .maincontent .content {
      margin-left: 3.75rem;
    }
  }
  #fgroup_id_buttonar {
    background-color: transparent;
    .fgroup input {
      @extend .btn, .btn-primary;
    }
  }
  #notice.modal {
    .modal-footer .buttons .singlebutton:nth-child(2) > form > div >
    input[type="submit"]:first-child {
      @extend .btn-secondary;
    }
  }
}
