// -----------------------------------------------------------------------------
// kitchen sink
// -----------------------------------------------------------------------------

// colours
.colour-palette {
  max-width: none;
  .row {
    margin-right: -5px;
    margin-left: -5px;
    .colour-pan, .colour-id {
      padding-right: 5px;
      padding-left: 5px;
    }
    .colour-id {
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        margin-bottom: 0;
      }
    }
    .colour-pan {
      margin-bottom: $component-margin-xs;
      .colour {
        padding: $component-margin-xs $component-margin-sm;
        color: $white;
        span {
          display: block;
          &:first-child {
            font-family: 'KingsBureauGrot';
            font-size: 1.125rem;
          }
        }
        &.white {
          color: $black;
          padding: calc($component-margin-xs - 1px) $component-margin-sm;
          border: 1px solid $black;
          background-color: $white;
        }  
      }
    }
    &.colour-combo {
      margin-bottom: $component-margin-bottom;
      .colour-pan {
        margin-bottom: 0;
      }
    }
  }
}

@mixin cb-color-mapping {
  @each $cb-type, $color in $cb-colors {
    &.#{$cb-type} {
      @each $tone, $hex in $color {
        .colour.#{$tone} {
          background-color: $hex;
        }
      }
    }
  }
}

// colours accessibility
.cb {
  .cb-row {
    margin-right: 0;
    margin-left: 0;
    @include cb-color-mapping;
    .cb-header {
      text-align: center;
      margin-bottom: $component-margin-bottom-xs;
      flex: 2;
      padding-right: 5px;
      padding-left: 5px;
    }
    .cb-title {
      flex: 2;
    }
    h5, p {
      margin-bottom: 0;
    }
    .colour-pan {
      flex: 2;
    }
    .colour {
      height: 18px;
    }
    .half {
      flex: 1;
    }
  }
}
.cb-colour-names {
  padding-right: 0;
  li {
    margin-bottom: 0 !important;
  }
}
.cb-standard {
  overflow: hidden;
}
.cb-palettes {
  display: flex;
  .cb-palette-container {
    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }
  }  
}
.cb-palette-title {
  text-align: center;
}
img.cb-palette {
  height: 390px;
  margin-top: 5px;
}

// iconography
.icon-container {
  display: inline;
  .icon-box {
    background-color: midnightblue;
    color: white;
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
    font-size: 2.25rem;
    margin-bottom: $component-margin-bottom-sm;
  }
  p:not(:last-child) {
    margin-bottom: $component-margin-bottom-xs;
  }
}

// dos and donts
.do-dont {
  display: flex;
  align-items: center;
  margin-bottom: $component-margin-bottom-lg;
  .fas {
    font-size: 2rem;
    margin: 0 1rem;
    &.fa-check-circle {
      color: $pea-green;
    }
    &.fa-times-circle {
      color: $kings-red;
    }
  }
  p:last-child {
    margin-bottom: 0;
  }
}