// -----------------------------------------------------------------------------
// lesson
// -----------------------------------------------------------------------------

#page-mod-lesson-view {
  .fitem {
    margin-bottom: 0;
    .fitemtitle {
      display: none;
    }
    .felement {
      margin-left: 0;
    }
  }
  .answeroption {
    margin-bottom: $component-margin-bottom;
    .fitem .felement span {
      margin: 0;
      display: inline-flex;
      align-items: center;
      input {
        margin-right: $component-margin-sm;
      }
      label {
        margin: 0;
      }
    }
  }
  .fitem_fsubmit {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0 0 $component-margin-bottom 0;
  }
}
