// -----------------------------------------------------------------------------
// questionnaire
// -----------------------------------------------------------------------------

#page-mod-questionnaire-preview fieldset,
#page-mod-questionnaire-complete fieldset {
  min-inline-size: auto;
}

.path-mod-questionnaire {
  // pre questionnaire intro page
  .mod_questionnaire_viewpage {
    .complete, .allresponses, .yourresponse {
      margin-bottom: $component-margin-bottom;
      &> a {
        @extend .btn, .btn-primary;
      }
    }
  }
/*  .mod_questionnaire_completepage .buttons {
    input[type="submit"] {
      @extend .btn, .btn-primary;
    }
  } */
  .qn-container {
    .qn-question {
      background: none;
      b {
        @extend .h5;
      }
    }
  }
  .qn-content {
    /*
    max-width: calc(100% - 255px);
    @media only screen and (min-width: $neo-breakpoint) {
      max-width: calc(100% - 110px);
    }
    */
  }
  &#page-mod-questionnaire-complete {
    .surveyTitle {
      padding: 0;
      margin-bottom: $component-margin-bottom;
    }
    .message {
      border: none;
      padding: 0;
      &> a {
        @extend .btn, .btn-primary;
      }
    }
    .c1, .c0 {
      border-bottom: 0;
      border-right: 0;
      border-top: 1px solid $table-border;
      border-left: 1px solid $table-border;
    }
//    tr:last-child td {
//      border-bottom: 1px solid $table-border;
//    }
    .qn-answer table {
      @extend .table, .table-bordered;
    }
  }
}

.path-mod-questionnaire {
  .surveyTitle {
    margin-bottom: 0 !important;
  }
  .floatprinticon {
    width: 100%;
    margin: 0;
    float: none;
    text-align: right !important;
    display: block;
  }
  .qn-container {
    &:first-of-type:before {
      content: 'Indicates required field';
      font-family: "Open Sans";
      font-size: 1rem;
      font-weight: normal;
      display: block;
      margin-left: 0.825rem;
      text-align: left;
      margin-bottom: $component-margin-bottom;
      cursor: text;
    }
    &:first-of-type:after {
      content: '\f069';
      font-family: "Font Awesome 5 Free";
      font-size: 0.5rem;
      font-weight: bold;
      position: absolute;
      top: 3.125rem;
      color: red;
      left: 0;
    }
    .qn-legend {
      margin-right: 0.5rem;
      .qn-info {
        padding: 0;
        background: none;
        .qn-number {
          font-family: "Open Sans";
          font-size: 1rem;
          font-weight: bold;
          line-height: 1.5;
        }
      }
      .req {
        vertical-align: top !important;
      }
    }
    .qn-content {
      margin-left: 0;
      .qn-question {
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
        p, label {
          margin: 0;
          font-weight: bold;
          cursor: text;
        }
      }
      .qn-answer, .editor_atto_wrap {
        margin-bottom: 2.25rem;
      }
      .qn-answer table {
        margin-bottom: 0 !important;
      }
    }
  }
}
