// -----------------------------------------------------------------------------
// questionnaire
// -----------------------------------------------------------------------------

.path-mod-questionnaire {
  // pre questionnaire intro page
  .mod_questionnaire_viewpage {
    .complete a, .all-responses a {
      @extend .btn, .btn-primary;
    }
  }
/*  .mod_questionnaire_completepage .buttons {
    input[type="submit"] {
      @extend .btn, .btn-primary;
    }
  } */
  .qn-container {
    .qn-question {
      background: unset;
      b {
        @extend .h5;
      }
    }
  }
  &#page-mod-questionnaire-complete {
    .c1, .c0 {
      border-bottom: unset;
      border-right: unset;
      border-top: 1px solid $table-border;
      border-left: 1px solid $table-border;
    }
    tr:last-child td {
      border-bottom: 1px solid $table-border;
    }
  }
}
