// -----------------------------------------------------------------------------
// quiz
// -----------------------------------------------------------------------------

.quiz-table {
  border: none;
  border-right: 1px solid $table-border;
  border-bottom: 1px solid $table-border;
  border-collapse: separate;
  margin-bottom: $component-margin-bottom;
  thead th {
    background-color: #f8fafa !important;
  }
  tr {
    th, td {
      background-color: transparent;
      border: none;
      border-top: 1px solid $table-border;
      border-left: 1px solid $table-border;
      padding: calc(#{$component-margin-xs} / 2) $component-margin-xs;
      text-align: left !important;
      vertical-align: top;
    }
    th{
      font-family: 'KingsBureauGrot';
      color: $headings;
    }
    td{
      color: $body-text;
    }
    &:nth-child(even)>th, &:nth-child(even)>td {
      background-color: #f8fafa;
    }
  }
}

// summary page
#page-mod-quiz-view {
  .box.quizinfo p {
    font-family: 'KingsBureauGrotFiveOne';
    text-align: left;
    &:first-child::before {
      @extend .icon-before;
      content: '\f017';
    }
    &:nth-child(2)::before {
      @extend .icon-before;
      content: '\f091';
    }
  } 
  .quizattemptsummary {
    @extend .quiz-table;
    th.lastcol, td.lastcol {
      display: none;
    }
  }
  .generalbox#feedback {
     margin: 0;
     padding: 0;
  }
  .quizstartbuttondiv form {
    text-align: left;
    div {
      margin-left: 0;
    }
  }
}

// review page
#page-mod-quiz-review {
  .quizreviewsummary {
    @extend .quiz-table;
  }
}

//quiz attempt page
#page-mod-quiz-attempt {
  .submitbtns {
    .mod_quiz-prev-nav.btn.btn-secondary {
      @extend .btn, .btn-secondary;
    }
  }
}
// quiz navigation block
#mod_quiz_navblock .content {
  #user-picture {
    margin: 0 0 $component-margin-bottom 0;
  }
  .qn_buttons {
    margin-bottom: $component-margin-bottom;
    h3.mod_quiz-section-heading {
      margin-bottom: $component-margin-bottom-xs;
    }
    h3.mod_quiz-section-heading:not(:first-child) {
      padding: $component-margin-sm 0 0 0;
    }
    a.qnbutton {
      height: 1.25rem;
      width: 1.25rem;
      font-size: 1rem !important;
      padding: 0 !important;
      margin: 0 0.625rem 0.625rem 0;
      background-color: $pearl-grey !important;
      color: $headings !important;
      &:hover {
        text-decoration: none !important;
      }
      .thispageholder {
        border: none;
      }
      &.flagged .thispageholder {
        background: transparent url(https://git.iddkingsonline.com/assets/images/ko-designsystem-quiz-flag.svg) 15px 0 no-repeat;
      }
      .trafficlight {
        display: none;
      }
      &.correct {
        // background-color: rgba(65, 195, 130, 0.5) !important;
        background-color: transparent !important;
        span.thispageholder {
          border: 2px solid $pea-green;
          border-radius: 4px;
        }
      }
      &.incorrect {
        background-color: rgba(234, 100, 94, 0.5) !important;
      }
      &.notanswered {
        background-color: rgba(65, 185, 225, 0.5) !important;
        span.thispageholder {
          // border: 2px solid #f5b90d;
          border: 2px solid $rules-and-outlines;
          border-radius: 4px;
        }
      }
    }
  }
  .othernav {
    text-align: right;
    a.endtestlink {
      @extend .btn;
      @extend .btn-primary;
      display: inline;
      margin-right: 0;
    }
    #quiz-timer {
     font-family: 'KingsBureauGrotFiveOne';
     font-size: 1.125rem;
      #quiz-time-left {
        font-family: 'KingsBureauGrot';
      }
      &::before {
        content: '\f017';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        margin-right: 4px;
      }
    }
    .singlebutton {
      div {
        margin-right: 0;
        input[type="submit"] {
          @extend .btn, .btn-primary;
          margin-right: 0;
          margin-top: 1rem;
        }
      }
    }
  }
}

// quiz question
.que {
  margin: 0 0 $component-margin-bottom-lg;
  .info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $component-margin-bottom;
    background-color: transparent;
    padding: 0;
    border: none;
    .no {
      width: 100%;
    }.no, .qno {
      @extend .h5;
      margin-bottom: $component-margin-bottom-xs;
    }
    div {
      margin: 0;
      line-height: 1.5;
      font-size: 1rem !important;
      font-family: 'KingsBureauGrot';
      border-radius: 0.125rem;
      letter-spacing: 0.5px;
      text-align: center;
      height: 1.5rem;
      border-radius: 15px;
      background-color: $block-background;
      padding: 0 0.5rem;
      color: $headings;
    }
    div.state, div.grade {
      margin-right: $component-margin-xs;
    }
    div.state {
      text-transform: uppercase;
    }
    div.grade {
      background-color: #e6ebed;
      color: $headings;
    }
    .questionflag {
      padding: 0 0.5rem;
      border-radius: 3px;;
      content: '';
      background: #e6ebed url("https://git.iddkingsonline.com/assets/images/ko-designsystem-quiz-flag.svg ") right top no-repeat;
      background-size: 8px;
      margin-left: auto;
      margin-right: 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0px -1px 0px 0px inset;
      .questionflagimage {
        display: none;
      }
    }
    .editquestion {
      background-color: transparent;
      a {
        img {
          padding-left: 0;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  // quiz question and feedback box
  .content {
    .formulation {
      background-color: transparent;
      margin: 0;
      padding: 0;
      .qtext {
        margin-bottom: $component-margin-bottom;
        p {
          margin-bottom: $component-margin-bottom-sm;
       }
      }
      select {
        border-radius: 4px;
        margin: 0;
        background-color: transparent;
        color: $body-text;
        &.correct {
          border-color: $pea-green;
        }
        &.incorrect {
          border-color: $kings-red;
        }
      }
      .ablock {
        margin: 0 0 $component-margin-bottom 0;
        .prompt, .readonly, .readonly p {
          margin-bottom: $component-margin-bottom-sm;
        }
        .label {
          margin: 0;
        }
        .answer {
          padding: 0 !important;
          label {
            margin-bottom: 0;
          }
          input[type="text"] {
            margin-left: $component-margin-bottom-xs; 
            background-color: transparent;
            border-color: $rules-and-outlines;
            color: $headings;
          }
          & > .icon {
            display: none;
          }
          .r0, .r1 {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: $component-margin-bottom-xs !important;
            label {
              font-size: 1rem;
            }
            img {
              display: none;
            }
          }
        }
      }
      input[type="submit"].btn {
        @extend .btn-primary;
      }
    }
    .outcome {
      @extend .info-box;
      background-color: rgba(245,185,15,0.2) !important;
      & > .feedback::before {
        content: '\f27a';
        color: $yellow;
        padding: 0 4px;
      }
      .feedback {
        &::before {
          @extend .info-box-inner::before;
        }
        @extend .info-box-inner;  
        margin-bottom: 0;
        .specificfeedback, .specificfeedback p {
          @extend .info-box-title;
          margin-bottom: 1rem;
        }
        .rightanswer {
          margin-bottom: 0;
        }
      }
    }
  }
  &.correct {
    .formulation input.correct {
      background-color: rgba(40, 195, 130, 0.2) !important;
      border-color: $pea-green !important;   
    }
    .outcome {
      background-color: rgba(40, 195, 130, 0.2) !important;
      & > .feedback::before {
        color: $pea-green;
        padding: 0 4px;
        content: '\f058';
      }
    }
  }
  &.incorrect {
    .formulation input.correct {
      background-color: rgba(226, 35, 26, 0.2) !important;
      border-color: $kings-red !important;   
    }
    .outcome {
      background-color: rgba(226, 35, 26, 0.2) !important;
      & > .feedback::before {
        color: $kings-red;
        content: '\f057';
        padding: 0 4px;
      }
    }
  }
}

// submit button
#page-mod-quiz-attempt, #page-mod-quiz-review {
  .submitbtns {
    padding: 0;
  }
  .mod_quiz-next-nav {
    margin-bottom: $component-margin-bottom-xl;
  }
}

// confirmation modal
.path-mod-quiz .moodle-dialogue {
  @media only screen and (min-width: $neo-breakpoint) {
    width: 450px !important;
  }
  .moodle-dialogue-bd {
    .confirmation-buttons {
      .btn {
        margin: 0;
        &:not(:first-of-type) {
          margin-left: $component-margin-sm;
        }
      }
    }
  }
}
// summary of attempt page (on submission of answers)
#page-mod-quiz-summary {
  .quizsummaryofattempt {
    @extend .quiz-table;
    img.questionflag.icon-post {
      display: none;
    }
  }
}
