// Variables
// ========================================================================== */

// Colours
// ========================================================================== */

// Functions
// mixes color with white to lighten
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}
// mixes color with black to darken
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// Primary
$kings-red: #E2231A;
$kings-red-600: #B51C15;
$white: #FFFFFF;
$black:#000000;

// Secondary
$midnight-blue: #0A2C50;
$sea-blue: #005AD2;
$sea-blue--100: #C7DFFF;
$reflex-blue: #002395;
$reflex-blue--100: #B7C8FF;

// System
$powder-blue: #8295B5;
$powder-blue--700: #455775;
$powder-blue--600: #5D759C;
$powder-blue--200: #CDD5E1;
$powder-blue--100: #E6EAF0;
$panel-grey: #EAEFF0;
$kings-red--600: #B51C15;
$focus-colour: #08F6CC;
$panel-grey--1000: #2E2E2E;
$panel-grey--900: #536A6E;
$panel-grey--800: #829999;
$panel-grey--700: #BCCBCD;
$panel-grey--600: #DDE5E9;
$panel-grey--400: #F3F5F5;


// Semantic
$soft-pink: #FC5E72;
$warm-grey: #BCAFA8;
$yellow: #F5B90F;
$lime-green: #C6E128;
$pebble: #5F5550;
$orange: #FF5F05;
$hot-pink: #C83296;
$sky-blue: #00B9E1;
$mushroom: #CDC3B9;
$pea-green: #28C382;
$lime-green-2: #999900;
$stone: #575756;
$teal-blue: #009EA0;
$lilac: #9B82D2;
$lilac--600: #8056C1;
$purple: #501491;

// Typography
$headings: $midnight-blue;
$body-text: $panel-grey--1000;

// Bootstrap
$colour--active: $powder-blue--100;
$colour--default: $white;
$colour--primary: $sea-blue--100;
$colour--secondary: $panel-grey--400;
$colour--success-dark: #006611;
$colour--success: #7CE9BB;
$colour--danger: #FFADB8;
$colour--warning: #FFE7A5;
$colour--info: $reflex-blue--100;
$colour--light: $white;
$colour--dark: $powder-blue--700;

// Table highlights
$yellow--150: #FCEAB7;
$sky-blue--200: #99E3F3;
$kings-red--100: #FAD3D1;
$orange--50: #FFAF82;

// Layout
// ========================================================================== */

// Breakpoints
$breakpoint--3xl: 1400px;
$breakpoint--2xl: 1308px;
$breakpoint--xl: 1200px;
$breakpoint--lg: 992px;
$breakpoint--md: 768px;
$breakpoint--sm: 576px;

// Spacing
$spacing--3xs: 0.25rem;
$spacing--2xs: 0.5rem;
$spacing--xs: 0.75rem;
$spacing--sm: 1rem;
$spacing: 1.5rem;
$spacing--lg: 2.25rem;
$spacing--xl: 4.5rem;

$component-margin--3xs: $spacing--3xs;
$component-margin--2xs: $spacing--2xs;
$component-margin--xs: $spacing--xs;
$component-margin--sm: $spacing--sm;
$component-margin: $spacing;
$component-margin--lg: $spacing--lg;
$component-margin--xl: $spacing--xl;

$component-padding--3xs: $spacing--3xs;
$component-padding--2xs: $spacing--2xs;
$component-padding--xs: $spacing--xs;
$component-padding--sm: $spacing--sm;
$component-padding: $spacing;
$component-padding--lg: $spacing--lg;
$component-padding--xl: $spacing--xl;

// Components
// ========================================================================== */

$component-border: 1px solid $powder-blue--200;
