/* Assignment
   ======================== */

#page-mod-assign-view {
   #region-main {
      h2, #intro, .no-overflow {
      margin-bottom: $component-margin-bottom;
      }
      .no-overflow {
         :last-child {
            margin-bottom: 0%;
         }
      }

      // files uploaded by faculty
      .ygtvtn, .ygtvln {
         display: none;
      }
      .ygtvcontent > div {
         display: flex;
         position: relative;
         .fileuploadsubmission {
            & > img.icon {
            display: none;
            }
            margin-bottom: 1.125rem;
            .filter-ally-wrapper::before {
               content: "Click ";
               position: absolute;
               font-size: 1rem;
               font-family: 'Open Sans, sans-serif';
            }
            .filer-ally-wrapper {
               // from Common
               @extend %bold-link; 
               a {
               max-width: none;
               display: inline;   
               }
            }
            .filter-ally-wrapper::after {
               content: " link to view the file.";
               position:absolute;
               font-size: 1rem;
               font-family: 'Open Sans, sans-serif';
            }
            .action-icon {
               position: absolute;
               right: -32px;
            }
         }
      }
      
      .submissionstatustable {
         h3 {
         margin-bottom: 1.375rem;
         }
         .submissionsummarytable, .gradingsummarytable {
         margin-top: 0rem !important;   
         margin-bottom: 2.1875rem !important;
         padding: 0rem !important;
         }
         .singlebutton {
            margin-bottom: $component-margin-bottom;
         }
         .submithelp {
            padding: 0rem !important;
         }

         :last-child {
            margin-bottom: 0rem;
         }
         margin-bottom: 2.1875rem;   
      }
   }
}