/* Assignment
   ======================== */

.path-mod-assign {
  &#page-mod-assign-view, &#page-mod-assign-editsubmission, &#page-mod-assign-submit {
    #region-main {
      h2, #intro, .no-overflow {
        margin-bottom: $component-margin-bottom;
      }
      .no-overflow {
        :last-child {
          margin-bottom: 0;
        }
      }
      .ygtvtn, .ygtvln {
        display: none;
      }
      .ygtvcontent > div {
        display: block;
        position: relative;
        .fileuploadsubmission {
          margin-bottom: 0;
          & > img.icon {
            display: none;
          }
          @extend %bold-link;
          a {
            word-break: break-word;
            white-space: unset;
            max-width: none;
            display: inline;
          }
          .ally-actions > span {
            margin-left: 0.625rem;
            .ally-feedback:not(:only-child) .ally-scoreindicator-container button {
              margin-right: 0 !important;
            }
          }
          .action-icon {
            img {
              margin-left: 0.625rem;
              &.smallicon {
                vertical-align: initial;
              }
            }
          }
          min-width: auto !important;
          margin-right: 0.625rem;
        }
        .fileuploadsubmissiontime {
          float: none;
          margin-bottom: 1.125rem;
          &::before {
            content: '(';
            display: inline;
          }
          &::after {
            content: ')';
            display: inline;
          }
        }
      }
      @media only screen and (min-width: $neo-breakpoint) {
        .ygtvcontent > div {
          display: flex;
          .fileuploadsubmission {
            margin-bottom: 1.125rem;
          }
        }
      }
      .fileuploadsubmissiontime {
        display: inline-block;
      }
      .submissionstatustable, .gradingsummary {
        h3 {
          margin-bottom: 1.375rem;
        }
        .submissionsummarytable, .gradingsummarytable {
          margin-top: 0 !important;
          margin-bottom: 2.1875rem !important;
          padding: 0 !important;
          .generaltable {
            @extend %table-bordered;
            & > tbody > tr:hover {
              background-color: none;
            }
            & > tbody > tr > th.cell.c0 {
              background-color: $block-background !important;
              &:hover {
                background-color: $block-background !important;
              }
            }
            & > tbody > tr > td.cell.c1.lastcol {
              background-color: $white !important;
              &:hover {
                background-color: $white !important;
              }
              a.portfolio-add-link {
                text-decoration: underline;
              }
            }
            & th, td {
              padding: 4px;
            }
            div[id^="assign_files_tree"] {
              table td {
                border: 0 !important;
                div.fileuploadsubmissiontime {
                  margin-bottom: 0.875rem;
                }
                @media only screen and (min-width: $neo-breakpoint) {
                  div.fileuploadsubmission {
                    margin-bottom: 0.875rem !important;
                  }
                }
              }
            }
            .commentscontainer .mdl-left {
              a.comment-link {
                img.icon {
                  display: none;
                }
              }
              a[aria-expanded="false"] {
                [id^="comment-link-text-"] {
                  position: relative;
                  text-decoration: underline;
                  text-decoration-color: inherit;
                  &::after {
                    @extend %icon-before;
                    @include fa-content($fa-angle-right);
                    margin: 0;
                    font-size: $component-margin;
                    position: absolute;
                    left: -1.75rem;
                    top: -2px;
                  }
                }
              }
              a[aria-expanded="true"] {
                [id^="comment-link-text-"] {
                  position: relative;
                  text-decoration: underline;
                  text-decoration-color: inherit;
                  &::after {
                    @extend %icon-before;
                    @include fa-content($fa-angle-down);
                    margin: 0;
                    font-size: $component-margin;
                    position: absolute;
                    left: -1.75rem;
                    top: -2px;
                  }
                }
              }
            }
          }
          .py-3 {
            &[class^="summary_assignsubmission_file"] {
              padding: 0 !important;
              table#ygtvtableel4 {
                td#ygtvcontentel4 {
                  border: 0 !important;
                }
              }
              a.portfolio-add-link {
                display: inline-block !important;
              }
            }
          }
        }
        .gradingsummarytable .generaltable {
          .c0 {
            width: 50%;
          }
        }
        .singlebutton {
          margin-bottom: $component-margin-bottom;
          button {
            @extend %btn-primary;
          }
        }
        .submithelp {
          padding: 0 !important;
        }
        :last-child {
          margin-bottom: 0;
        }
        margin-bottom: 2.1875rem;
        .submissionaction {
          div.singlebutton:first-child {
            margin-right: $component-margin-xs;
          }
          div.singlebutton:not(:first-child) {
            button {
              @extend %btn-secondary;
            }
          }
        }
      }
      .gradingsummary .submissionlinks {
        a.btn.btn-secondary:first-child {
          // @extend %btn-primary;
          background-color: $midnight-blue !important;
          color: $white !important;
          &:hover {
            background-color: tint($midnight-blue, 30%) !important;
            text-decoration: none !important;
          }
          &:focus {
            outline: thin dotted $sky-blue !important;
            outline-color: $sky-blue !important;
            outline-style: dotted;
            outline-width: thin;
            outline-offset: -2px;
          }
        }
        a.btn.btn-primary:last-child {
          // @extend %btn-secondary;
          background-color: $white !important;
          color: $midnight-blue !important;
          padding: $component-padding-xs 0.625rem !important;
          border: 2px solid $midnight-blue;
          &:hover {
            border-color: tint($midnight-blue, 30%);
            background-color: tint($midnight-blue, 30%) !important;
            color: $white !important;
          }
        }
      }
      .form-group.has-danger {
        .form-check {
          background-color: rgba(234, 100, 94, 0.3) !important;
        }
      }
      form.mform {
        .form-group {
          input[type="checkbox"] {
            margin-top: 1.2rem !important;
            margin-right: 0.75rem !important;
            margin-left: 0.75rem !important;
            align-self: flex-start;
          }
          .no-overflow {
            margin: 0 !important;
            padding: 0 !important;
            p {
              margin-top: 0.75rem !important;
              margin-bottom: $component-margin !important;
            }
          }
          .ml-2 {
            margin: 0;
            padding: 0;
            .text-danger {
              margin-top: 0.65rem;
              margin-left: 0.75rem;
              margin-right: 0.75rem;
              img.icon {
                padding-right: 0;
              }
            }
          }
          .invalid-feedback {
            background-color: rgba(234, 100, 94, 0.3) !important;
            padding-left: 0.75rem;
            padding-bottom: 0.75rem;
            margin-top: 0;
            width: inherit;
          }
          #fitem_id_confirmmessage .form-inline.align-items-start.felement {
            margin-left: 0;
          }
        }
        .fdescription.required {
          margin-left: 0;
        }
      }
      .feedback {
        .generaltable {
          @extend %table-bordered;
          & > tbody > tr:hover {
            background-color: none;
          }
          & > tbody > tr > th.cell.c0 {
            background-color: $block-background !important;
            &:hover {
              background-color: $block-background !important;
            }
          }
          & > tbody > tr > td.cell.c1.lastcol {
            background-color: $white !important;
            &:hover {
              background-color: $white !important;
            }
          }
          & th, td {
            padding: 4px;
          }
          img.userpicture {
            @extend %img-circular;
            margin-bottom: inherit;
            margin-right: 8px;
            width: 24px;
            height: 24px;
          }
          .lastrow {
            th {
              width: 124.156px;
            }
          }
        }
      }
    }
  }
  &#page-mod-assign-grading, #page-grade-report-grader-index {
    @media only screen and (min-width: 1400px) {
      #wrapper #page #page-header-nav, #wrapper #page #page-content {
        max-width: 100%;
      }
    }
    .resettable.mdl-right {
      text-align: left;
      margin-top: 3rem;
      margin-bottom: $component-margin-bottom-sm;
      a {
        @extend %btn-primary;
      }
    }
    .page-item.active .page-link {
      background-color: $midnight-blue;
      border-color: $midnight-blue;
    }
    .initialbar {
      ul.pagination {
        flex-wrap: wrap;
        margin-bottom: 0;
      }
      li.initialbarall {
        margin-bottom: $component-margin-bottom;
      }
    }
  }
}
