/* OU Blog
   ======================== */

// mixin to override theme font-family, size, color etc.
@mixin oublogHeadings {
  @for $i from 1 through 6 {
    h#{$i}, .h#{$i} {
      @extend %h#{$i};
    }
  }
}

#page-mod-oublog-view {
  #region-main {
    // info/description section
    #oublog_info_block.main-description {
      margin: 0 !important;
      box-shadow: none !important;
      // apply styles to OU Blog main content area card only
      & > .card-body {
        padding: 0 !important;
        // remove theme background colour
        .card-title {
          background: none;
        }
        & > .card-text {
          @include oublogHeadings;
        }
      }
    }
    // individual posts
    .oublog-userpic {
      padding: 0;
      img.userpicture {
        border-radius: 50%;
      }
    }
    #oublog-posts {
      margin-bottom: $component-margin-sm;
    }
  }
  // sideblocks
  #block-region-side-post {
    .block {
      // blog usage block
      &#oublog-discover {
        .content {
          ul.oublog-accordion {
            li {
              margin-bottom: $component-margin-bottom-xs;
              .oublog_statsview_content {
                margin: 0;
                padding: $component-padding-xs;
                .oublog_statsinfo {
                  margin-left: 0;
                  margin-bottom: $component-margin-bottom-xs;
                  img.userpicture {
                    border-radius: 50%;
                  }
                }
                form {
                  margin: 0;
                  .row {
                    border: none;
                    margin: 0;
                    padding: 0;
                    &:not(:last-child) {
                      margin-bottom: $component-margin-bottom-xs;
                    }
                    & > div {
                      flex: none !important;
                      max-width: none !important;
                      margin: 0;
                      padding: 0;
                    }
                  }
                }
                .oublog_statsinfo_bar span.oublogbar {
                  background: transparent;
                }
              }
              h3 {
                @extend %h5;
              }
            }
          }
        }
      }
    }
  }
}
