/* Book
  ======================== */

#page-mod-book-view {
  #page-content {
    #region-main {
      position: relative;
      // book print button
      #print-btn-container {
        margin-bottom: $component-margin-bottom;
        position: absolute;
        right: 0;
        .print-book-btn {
          margin: unset !important;
          &::before {
            @extend %icon-before;
            @include fa-content($fa-print);
            margin-right: $component-margin-xs;
          }
        }
      }
      & > div:first-of-type {
        & > h2:first-of-type {
          // override theme book heading style
          @extend %h2;
        }
        // only when the print book button is present
        & > #print-btn-container ~ h2:first-of-type {
          margin-bottom: $component-margin-bottom-lg;
          // prevent the title from overlapping with the print button
          margin-right: calc(88px + #{$component-margin-sm});
        }
      }
      .book_content {
        // override theme chapter heading style
        & > h3 {
          @extend %h3;
        }
        & > div > *:last-child {
          margin-bottom: 0;
        }
        .no-overflow {
          // to allow focus outline to be visible when overlapping
          // outer edges of main content area
          margin: -4px;
          padding: 4px;
        }
      }
    }
    aside {
      // book table of contents block
      .block_book_toc {
        .book_toc {
          // prevent book TOC from truncating title
          .d-flex:not(.action-list) {
            display: block !important;
            .text-truncate {
              white-space: initial;
            }
            .action-list {
              justify-content: flex-end;
            }
          }
          // subchapters in TOC
          ul ul {
            margin-top: $component-margin-xs;
            margin-left: $component-margin;
            li {
              margin-bottom: $component-margin-bottom-xs;
            }
          }
        }
      }
    }
  }
  // hide first chapter title
  // and bottom nav of single chapter book
  &.single-chapter-book {
    .book_content > h3:first-of-type,
    .navbottom {
      display: none;
    }
  }
}

// book navigation
#page-mod-book-view {
  .navtop,
  .navbottom {
    padding: 0 !important;
    margin-top: $component-margin-lg 0;
    text-align: center;
    border: none !important;
    a {
      @include focus-outline;
      margin: 0;
      max-width: none;
      float: none;
      &.bookprev,
      &.booknext {
        text-align: center;
        line-height: 1;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @media only screen and (min-width: $neo-breakpoint) {
          width: 2.25rem;
        }
        &:hover {
          text-decoration: none;
        }
      }
      &.bookprev::before,
      &.booknext::after,
      &.bookexit::after {
        font-size: 1.5rem;
        line-height: inherit;
        color: $midnight-blue;
        background-color: transparent;
        margin: 0;
        padding: 0;
      }
      &.bookprev::before {
        padding-right: 0.375rem;
      }
      &.booknext::after {
        padding-left: 0.375rem;
      }
      &.bookprev:hover::before,
      &.booknext:hover::after,
      &.bookexit:hover::after {
        color: tint($midnight-blue, 15%);
      }
    }
    ul {
      margin: 0;
      display: inline-block;
      line-height: normal;
      li.chapter {
        list-style: none;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: "KingsBureauGrot";
        font-size: 1.5rem;
        height: 2.25rem;
        margin: 0 0.25rem;
        // inactive chapter
        .dimmed_text {
          color: $slate-grey;
        }
        &.current {
          cursor: default;
          strong {
            min-width: 2.25rem;
            color: $white;
            border-radius: 50%;
            line-height: 2.25rem;
            &:not(.dimmed_text) {
              background-color: $sea-blue;
            }
            // inactive chapter
            &.dimmed_text, .dimmed_text {
              display: flex;
              justify-content: center;
              background-color: $block-header;
            }
          }
          //for firefox on mac only, helps with Safari too
          @supports (-moz-osx-font-smoothing: auto) {
            strong {
              height: 36px;
              margin-bottom: -30%;
            }
          }
        }
        a {
          @include focus-outline;
          min-width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          &:hover {
            text-decoration: none;
            color: tint($midnight-blue, 15%);
          }
        }
        @media only screen and (min-width: $neo-breakpoint) {
          margin: 0 $component-margin-xs;
        }
      }
      // books with 6+ chapters
      &.mob-large-book-pagination,
      // books with 11+ chapters
      &.large-book-pagination {
        li.chapter {
          display: none;
          &:first-child,
          &.prev-2:nth-child(2),
          &.prev-1,
          &.current,
          &.next-1,
          &.next-2:nth-last-child(2),
          &:last-child {
            display: inline-flex;
          }
          &.prev-1:not(:first-child):not(:nth-child(2)):not(:nth-child(3))::before,
          &.next-1:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3))::after {
            @include fa-content($fa-volume-off);
          }
          &.prev-1:not(:first-child):not(:nth-child(2)):not(:nth-child(3))::before {
            margin-right: 0.75rem;
          }
          &.next-1:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3))::after {
            margin-left: 0.75rem;
          }
          @media only screen and (min-width: $neo-breakpoint) {
            &.prev-4:nth-child(2),
            &.prev-3,
            &.prev-2,
            &.next-2,
            &.next-3,
            &.next-4:nth-last-child(2) {
              display: inline-flex;
            }
            &.prev-1:not(:first-child):not(:nth-child(2)):not(:nth-child(3))::before,
            &.next-1:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3))::after {
              content: none;
              margin: 0;
            }
            &.prev-3:not(:first-child):not(:nth-child(2)):not(:nth-child(3))::before,
            &.next-3:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3))::after {
              @include fa-content($fa-volume-off);
            }
            &.prev-3:not(:first-child):not(:nth-child(2)):not(:nth-child(3))::before {
              margin-right: $component-margin-sm;
            }
            &.next-3:not(:last-child):not(:nth-last-child(2)):not(:nth-last-child(3))::after {
              margin-left: $component-margin-sm;
            }
          }
        }
      }
    }
  }
  .navbottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // for books with sub-chapters, hide the pagination
  // show prev and next chapter buttons only
  &.has-sub-chaps {
    .navbottom {
      ul {
        display :none;
      }
      display: flex;
      justify-content: space-around;
      align-items: center;
      a {
        font-family: "KingsBureauGrot";
        color: $midnight-blue;
        width: auto;
        border-radius: 0;
        &::before {
          padding: 0 $component-padding-xs 0 0;
        }
        &::after {
          padding: 0 0 0 $component-padding-xs;
        }
      }
    }
  }
}
