/* Database
   ========================================================================== */

$add-entry-btn-width: 7.375rem;
$scrollbar-width: 0.75rem;

#page-mod-data-view {
  // Add basic styles to sticky footer
  .stickyfooter {
    bottom: 0;
    flex-direction: column !important;
    align-items: flex-end !important;
    height: auto;
    padding: $component-padding--sm !important;
    @media only screen and (min-width: $breakpoint--sm) {
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .navitem {
      &:first-child {
        @media only screen and (min-width: $breakpoint--sm) {
          width: calc(100% - #{$add-entry-btn-width} - #{$scrollbar-width});
          max-width: calc(1146px - #{$add-entry-btn-width} +
          calc(#{$scrollbar-width} / 2));
        }
        .btn {
          margin-bottom: $component-margin--sm;
          @media only screen and (min-width: $breakpoint--sm) {
            margin-bottom: 0 !important;
          }
        }
      }
      // Spacer
      &.mr-auto.ml-auto {
        margin: 0 !important;
      }
      &:last-child {
        @media only screen and (min-width: $breakpoint--sm) {
          margin-right: $scrollbar-width;
        }
        .btn {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
