/* Glossary
   ======================== */

.path-mod-glossary {
  &.editing {
    .glossarypost {
      .left.side {
        display: none;
      }
      &.fullwithauthor {
        .left {
          display: none;
        }
      }
    }
  }
  #region-main {
    position: relative;
    h2 {
      margin-right: 6rem;
    }
    .glossarycontrol {
      float: left;
      text-align: left;
      .helplink {
        float: left;
        padding-right: 0;
        a {
          @extend %ds-link;
        }
      }
      .printicon {
        background: none;
        @extend %btn-secondary;
        margin-right: 0 !important;
        position: absolute;
        top: $component-margin-xs;
        right: 0;
        // to hide 'Printer-friendly version' button text
        font-size: 0 !important;
        &::before {
          @extend %icon-before;
          @include fa-content($fa-print);
          font-size: 1.125rem;
        }
        &::after {
          // replace button text with 'Print'
          content: "Print";
          font-size: 1.125rem;
        }
      }
    }
    div#intro {
      margin-top: 15px;
    }
    form.form-inline.mb-1 {
      @media only screen and (min-width: $neo-breakpoint) {
        input[name="searchbutton"] {
          margin-left: $component-margin-sm !important;
        }
      }
    }
    .glossaryaddentry form#newentryform {
      input[type="submit"] {
        margin-bottom: 1rem !important;
      }
    }
    div.glossarydisplay {
      ul.nav.nav-tabs {
        @media only screen and (max-width: $neo-breakpoint) {
          display: flex;
          align-items: center;
          flex-direction: column;
          li a {
            border-radius: 4px;
          }
        }
        margin-left: 0;
        li {
          &:not(:last-child) {
            margin-bottom: 0 !important;
          }
          a {
            @extend %h5;
            padding: 8px 18px;
            margin-right: 10px !important;
            margin-bottom: 0;
            color: $midnight-blue;
            &:hover {
              background-color: $block-background;
            }
          }
          &.active {
            a {
              color: $white;
              &:hover {
                background-color: $midnight-blue;
              }
            }
          } 
        }
      }
      table.glossarycategoryheader th {
        background-color: $white;
        a {
          display: none !important;
        }
      }
      table.glossarypost {
        margin-left: 0;
        width: 100%;
        td.picture {
          background-color: $block-background;
          width: 84px;
          padding: 24px 0 24px 24px;
          border-bottom: 0;
          img.userpicture {
            @extend %img-circular;
            margin-bottom: inherit;
            width: 60px;
            height:60px;
          }
        }
        .entryheader {
          padding: 24px 24px 24px 1.25rem;
          .concept h4 {
            margin-bottom: $component-margin-bottom-xs;
          }
          span.author, span.time {
            @extend %p;
            color: $body-text;
            font-weight: normal;
            a {
              @extend %ds-link;
            }
          } 
        }
        .entryapproval, .entryattachment {
          padding: 0;
        }
        .entry {
          padding: 0 24px 24px;
          background-color: $block-background;
          p:last-child {
            margin-bottom: 0;
          }
        }
        .entrylowersection {
          padding: 0.75rem 0 0;
          td.aliases {
            padding-top: 0;
            padding-left: 0;
            select#keyword {
              font-size: 13px;
              height: 24px;
              padding: 0 6px;
            }
          }
          td.icons {
            padding-left: 0;
            position: relative;
            span.commands {
              position: absolute;
              top: -50px;
              right: 0;
              width: 100%;
              .glossary-hidden-note {
                margin: 0 $component-margin-xs;
              }
              font {
                margin-right: 15px;
              }
              a.icon, .action-icon {
                img.icon {
                  display: none;
                }
                &[title^="Entry link"] {
                  &::before {
                    @extend %icon-before;
                    @include fa-content($fa-link);
                    margin-right: 15px;
                  }
                }
                &[title="Undo approval"] {
                  &::before {
                    @extend %icon-before;
                    content: #{"\"\\"}#{f3e5 + "\""};
                    margin-right: 15px;
                  }
                }
                &[title^="Export"] {
                  &::before {
                    @extend %icon-before;
                    @include fa-content($fa-plus);
                    margin-right: 15px;
                  }
                }
                &[title="Delete"] {
                  &::before {
                    @extend %icon-before;
                    @include fa-content($fa-trash-alt);
                    margin-right: 15px;
                  }
                }
                &[title="Edit"] {
                  &::before {
                    @extend %icon-before;
                    @include fa-content($fa-pencil);
                    margin-right: 15px;
                  }
                }
                &[id^="action_link"] {
                  &::before {
                    @extend %icon-before;
                    @include fa-content($fa-download);
                  }
                }
              }
            }
            a.comment-link {
              position: relative;
              img.icon {
                display: none;
              }
              &[aria-expanded="false"] {
                &::before {
                  @extend %icon-before;
                  @include fa-content($fa-angle-right);
                  margin: 0;
                  font-size: $component-margin-sm;
                  padding-right: 10px;
                  position: absolute;
                  top: 1px;
                }
              }
              &[aria-expanded="true"] {
                &::before {
                  @extend %icon-before;
                  @include fa-content($fa-angle-down);
                  margin: 0;
                  font-size: $component-margin-sm;
                  padding-right: 7px;
                  position: absolute;
                  top: 2px;
                }
              }
              span[id^="comment-link-text"] {
                padding-left: 16px;
                font-size: 13px;
              }
            }
            ul.comment-list {
              margin-left: 0;
              .comment-message {
                font-size: 13px;
                span.picture {
                  width: 30px;
                    img.userpicture {
                    @extend %img-circular;
                    margin-bottom: inherit;
                    width: 30px;
                    height:30px;
                  }
                }
                .comment-message-meta {
                  display: inline-flex;
                  align-items: center;
                }
                .user, .time, .text_to_html {
                  @extend %p;
                  margin-bottom: 0;
                  font-size: 13px;
                  a {
                    @extend %ds-link;
                    padding-left: 10px;
                  }
                }
                .comment-delete {
                  a[title^="Delete"] {
                    img {
                      display: none;
                    }
                    &::before {
                      @extend %icon-before;
                      @include fa-content($fa-trash-alt);
                      margin-right: 0;
                    }
                  }
                }
                .text_to_html {
                  padding-left: 40px;
                }
              }
            }
          }
          .comment-area {
            max-width: 100%;
            .db textarea {
              width: 100%;
            }
            .fd a {
              @extend %btn-primary;
              margin: $component-margin-xs 0 !important;
            }
          }
        }
        &.continuous, &.dictionary, &.entrylist {
          .entry {
            padding: 24px;
          }
        }
        &.entrylist .entrylowersection {
          span.commands {
            a.icon, .action-icon {
              img.icon {
                display: none;
              }
              &[title^="Entry link"] {
                &::before {
                  @extend %icon-before;
                  @include fa-content($fa-link);
                  margin-right: 15px;
                }
              }
              &[title="Undo approval"] {
                &::before {
                  @extend %icon-before;
                  content: #{"\"\\"}#{f3e5 + "\""};
                  margin-right: 15px;
                }
              }
              &[title^="Export"] {
                &::before {
                  @extend %icon-before;
                  @include fa-content($fa-plus);
                  margin-right: 15px;
                }
              }
              &[title="Delete"] {
                &::before {
                  @extend %icon-before;
                  @include fa-content($fa-trash-alt);
                  margin-right: 15px;
                }
              }
              &[title="Edit"] {
                &::before {
                  @extend %icon-before;
                  @include fa-content($fa-pencil);
                  margin-right: 15px;
                }
              }
              &[id^="action_link"] {
                &::before {
                  @extend %icon-before;
                  @include fa-content($fa-download);
                }
              }
            }
          }
          a.comment-link {
            position: relative;
            img.icon {
              display: none;
            }
            &[aria-expanded="false"] {
              &::before {
                @extend %icon-before;
                @include fa-content($fa-angle-right);
                margin: 0;
                font-size: $component-margin-sm;
                padding-right: 10px;
                position: absolute;
                top: 1px;
              }
            }
            &[aria-expanded="true"] {
              &::before {
                @extend %icon-before;
                @include fa-content($fa-angle-down);
                margin: 0;
                font-size: $component-margin-sm;
                padding-right: 7px;
                position: absolute;
                top: 2px;
              }
            }
            span[id^="comment-link-text"] {
              padding-left: 16px;
              font-size: 13px;
            }
          }
          ul.comment-list {
            margin-left: 0;
            .comment-message {
              font-size: 13px;
              span.picture {
                width: 30px;
                img.userpicture {
                  @extend %img-circular;
                  margin-bottom: inherit;
                  width: 30px;
                  height:30px;
                }
              }
              .comment-message-meta {
                display: inline-flex;
                align-items: center;
              }
              .user, .time, .text_to_html {
                @extend %p;
                margin-bottom: 0;
                font-size: 13px;
                a {
                  @extend %ds-link;
                  padding-left: 10px;
                }
              }
              .comment-delete {
                a[title^="Delete"] {
                  img {
                    display: none;
                  }
                  &::before {
                    @extend %icon-before;
                    @include fa-content($fa-trash-alt);
                    margin-right: 0;
                  }
                }
              }
              .text_to_html {
                padding-left: 40px;
              }
            }
          }
        }
      }
    }
  }
  &#page-mod-glossary-exportentry, &#page-mod-glossary-deleteentry {
    form[action="exportentry.php"] button, form[action="deleteentry.php"] button {
      margin-right: 0.75rem !important;
    }
  }
  &#page-mod-glossary-editcategories {
    td.action {
      a:first-child::before {
        @extend %icon-before;
        @include fa-content($fa-trash-alt);
      }
      a:last-child::before {
        @extend %icon-before;
        @include fa-content($fa-pencil);
      }
      img.icon {
        display: none;
      }
    }
    input.btn-secondary {
      border: 2px solid #0A2D50 !important;
    }
  }
}
  