/* Group Choice
   ======================== */

   #page-mod-choicegroup-view {
    #region-main {
      position: relative;
      div.groupselector {
        margin-top: 0;
        margin-bottom: $component-margin-bottom;
      }
      div.reportlink {
        a {
          @extend %ds-link;
        }
      }
      div#yourselection {
        margin-bottom: 20px;
      }
      form.tableform {
        text-align: left;
        div.tablecontainer {
          @extend %horizontal-scroll;
          margin-bottom: 0;
        }
        table.choicegroups {
          @extend %table;
          @extend %table-bordered;
          margin-top: 0;
          th {
            &.width10, &:last-child {
              width: auto;
            }
            a.choicegroup-descriptiondisplay, a.choicegroup-memberdisplay {
              @extend %btn-secondary;
              display: block;
              width: fit-content;
              text-align: left;
              margin-top: $component-margin-xs !important;
            }
          }
          tr.option td {
            label {
              font-weight: bold;
            }
            div.choicegroups-descriptions {
              border: none;
              margin-top: $component-margin-sm;
              padding-top: 0;
            }
            .center {
              vertical-align: baseline;
            }
          }
        }
        a {
          @extend %btn-primary;
        }
      }
    }
  }
  #page-mod-choicegroup-report {
    div.groupselector {
      margin-top: 0;
      margin-bottom: $component-margin-bottom;
    }
    form.tableform {
      margin-bottom: $component-margin-bottom;
      div.tablecontainer {
        @extend %horizontal-scroll;
        margin-bottom: 0;
        table.results {
          @extend %table;
          @extend %table-bordered;
        }
      }
    }
    div.downloadreport ul {
      display: flex;
      li.reportoption:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  