/* OU Wiki
   ======================== */

%ou-wiki-item-top-heading {
  background: tint($sea-blue, 90%);
  margin-top: 0;
  padding: $component-padding-sm;
  border: 1px solid $rules-and-outlines;
  border-bottom: 0;
}
%ou-wiki-item-bottom-content {
  background: $white;
  padding: $component-padding-sm;
  border: 1px solid $rules-and-outlines;
  border-top: 0;
}

[id^="page-mod-ouwiki-"] {
  #region-main {
    #ouwiki_indexlinks {
      .osep-smallbutton,
      ul li span {
        padding: $component-padding-xs;
        border-width: 1px;
        border-radius: 4px;
        background: $white;
        color: $midnight-blue;
        line-height: 1;
        font-size: 100%;
        display: inline-block;
      }
      .osep-smallbutton {
        border-color: $rules-and-outlines;
        &:hover {
          background: $block-background;
        }
      }
      // active page
      ul li span {
        font-weight: bold;
        border: 1px solid $midnight-blue;
      }
    }
    ul.nav.nav-tabs {
      @extend %first-tab-nav;
      margin-bottom: $component-margin-bottom !important;
    }
    .ouwiki-content {
      margin-bottom: $component-margin-bottom;
      .ouw_topheading {
        @extend %ou-wiki-item-top-heading;
        padding: $component-padding;
        h2.ouw_topheading {
          padding: 0;
          border: 0;
        }
        .ouw_byheading {
          margin-left: 0;
        }
        .ouw_recentchanges .ouw_recentnot {
          font-weight: bold;
          color: $body-text;
        }
      }
      .ouw_belowmainhead {
        @extend %ou-wiki-item-bottom-content;
        padding: $component-padding;
        .ouw_topspacer {
          padding-top: 0;
        }
        .ouwiki_content {
          & > p:last-of-type {
            margin-bottom: 0;
          }
          h3 {
            border-bottom: none;
            padding: 0;
          }
        }
      }
    }
  }
}

// Wiki index
#page-mod-ouwiki-wikiindex {
  #ouwiki_belowtabs {
    div.ouw_title {
      @extend %ou-wiki-item-top-heading;
      font-weight: bold;
    }
    div.ouw_indexinfo {
    @extend %ou-wiki-item-bottom-content;
      span {
        color: $body-text;
      }
      .ouw_lastchange .ouw_recentnot {
        font-weight: bold;
      }
    }
  }
}

// Participation by user
#page-mod-ouwiki-participation {
  .pagination {
    margin: 0 !important;
    .page-item.active a {
      color: $white !important;
      text-decoration: none !important;
    }
  }
}

// Edit tab
#page-mod-ouwiki-edit {
  input#preview {
    @extend %btn-secondary;
    margin-right: 0 !important;
  }
  input#cancel {
    @extend %btn-secondary;
  }
}

// History > Changes
#page-mod-ouwiki-diff {
  .ouw_versionbox {
    @extend %ou-wiki-item-top-heading;
  }
  .ouw_diff.ouwiki_content {
    @extend %ou-wiki-item-bottom-content;
    // highlight changes
    .ouw_added, .ouw_deleted {
      background: tint($yellow, 80%);
      color: $body-text;
      text-decoration: none;
    }
    // Attachments heading
    h3 {
      @extend %h5;
      border-bottom: none;
      padding: 0;
    }
  }
}
