/* Questionnaire
   ======================== */

.path-mod-questionnaire {
  // pre questionnaire intro page
  .mod_questionnaire_viewpage {
    .complete,
    .allresponses,
    .yourresponse,
    .message {
      margin-bottom: $component-margin-bottom;
      & > a {
        @extend %btn-primary;
      }
    }
  }
  /*
  // my report / report pages
  // 'Print this response' button
  &#page-mod-questionnaire-myreport .respondentinfo > a,
  &#page-mod-questionnaire-report .generalbox > a:nth-child(2) {
    @extend %btn-secondary;
    display: block;
    width: max-content;
    img {
      display: none;
    }
    &::before {
      @include icon-before;
      @include fa-content($fa-print);
    }
    &::after {
      content: 'Print this response';
    }
  }
  */
  // post submission page
  &#page-mod-questionnaire-complete {
    .mod_questionnaire_completepage {
      position: relative;
      margin-bottom: $component-margin-bottom-sm !important;
    }
    .singlebutton {
      // continue button
      button {
        @extend %btn-primary;
        margin-bottom: 0 !important;
      }
    }
    .message {
      border: none;
      padding: 0;
      & > a {
        @extend %btn-primary;
      }
    }
    .c1, .c0 {
      border-bottom: 0;
      border-right: 0;
      border-top: 1px solid $table-border;
      border-left: 1px solid $table-border;
    }
  }
  // space between buttons
  #notice .buttons .singlebutton {
    margin-right: $component-margin-xs;
  }
  /*
  // tabs
  .nav-tabs {
    margin: 0 0 $component-margin-bottom 0 !important;
    li {
      margin: 0 !important;
    }
  }
  */
  // page title
  .surveyTitle {
    @extend %h2;
    // to display inline with 'Print Blank' button
    max-width: calc(100% - 130px - 1rem);
    padding: 0;
    margin-bottom: $component-margin-bottom;
  }
  // 'Print Blank' button
  .floatprinticon {
    @extend %btn-secondary;
    margin: 0 !important;
    text-align: right !important;
    position: absolute;
    top: 0;
    right: 0;
    img {
      display: none;
    }
    &::before {
      @include icon-before;
      @include fa-content($fa-print);
    }
  }
  // individual question container
  .qn-container {
    padding: 0;
    min-inline-size: auto;
    &:first-of-type {
      position: relative;
    }
    &:first-of-type:before {
      content: "Indicates required field";
      font-family: "Open Sans";
      font-size: 1rem;
      font-weight: normal;
      display: block;
      // to allow for icon
      margin-left: 20px;
      text-align: left;
      margin-bottom: $component-margin-bottom;
      cursor: text;
    }
    // required icon
    &:first-of-type:after {
      content: url("https://keats.kcl.ac.uk/theme/image.php/lambda/core/1654582688/req");
      position: absolute;
      top: 0;
      left: 0;
    }
    .qn-legend {
      margin-right: $component-margin-xs;
      .qn-info {
        padding: 0;
        background: none;
        .qn-number {
          font-family: "Open Sans";
          font-size: 1rem;
          font-weight: bold;
          line-height: 1.5;
        }
      }
      .req {
        vertical-align: top !important;
      }
    }
    .qn-content {
      margin: 0;
      .qn-question {
        padding: 0;
        margin: 0 0 $component-margin-bottom-sm 0;
        background-color:transparent;
        p,
        label {
          margin: 0 0 $component-margin-bottom 0;
          font-weight: bold;
          cursor: text;
          &:last-child {
            margin-bottom: 0;
          }
        }
        // prevent cut off on hover focus state
        overflow: visible;
        .no-overflow {
          overflow: visible;
        }
      }
      .qn-answer {
        // align answer to question text
        margin: 0;
        // Check Boxes and Radio Buttons question
        input[type="checkbox"],
        input[type="radio"] {
          margin: 0 $component-margin-xs 0 0;
          & + label {
            margin: 0 $component-margin-sm 0 0;
            padding: 0;
          }
        }
        // Date question
        .qn-datemsg {
          margin-bottom: $component-margin-xs;
        }
        // Radio Buttons question
        & > span {
          display: inline-flex;
          align-items: center;
        }
        // Rate(scale 1..5) question
        table {
          @extend %table-bordered;
          margin-bottom: 0 !important;
        }
      }
      .editor_atto_wrap {
        margin-bottom: $component-margin-bottom;
      }
    }
    // alert boxes interrupt the margin between questions
    // so apply xl margin between consecutive questions
    & + .qn-container {
      margin-top: $component-margin-xl;
    }
    // and a smaller margin between the alert box and its
    // associated question
    & + .alert {
      margin: $component-margin-sm 0 $component-margin-bottom-xl 0;
    }
  }
}
