/* Turnitin
   ======================== */

#page-mod-turnitintooltwo-view {
  #region-main {
    ul.nav-tabs {
      // from common
      @extend .first-tab-nav;
    }
    ul.ui-tabs-nav {
      // from common
      @extend .second-tab-nav;
    }
    .ui-tabs {
      padding: 0!important;
      padding-bottom: $component-margin-sm;
    }
    .mod_turnitintooltwo_part_details {
      margin-bottom: $component-margin;
      border: 1px solid $rules-and-outlines;
      th, td {
        border: 1px solid $rules-and-outlines;
      }
      td {
        font-size: 1rem;
        i {
          color: $midnight-blue;
        }
        .toggle_summary,
        .toggle_peermarks {
          padding: $component-margin-xs;
          margin-top: -0.5rem;
          font-size: 1rem;
          .fa-plus-circle.green {
            color: transparent;
            background-color: transparent;
            &::before {
              content: "\f107";
              color: $midnight-blue;
            }
          }
          .fa-minus-circle.red {
            color: transparent;
            background-color: transparent;
            &:before {
              content: "\f106";
              color: $midnight-blue;
            }
          }
        }
        &.introduction_cell {
          .introduction {
            font-size: 1rem;
            line-height: 1.5;
            font-family: Open Sans, sans-serif;
            color: #333333;
            font-weight: bold;
            .no-overflow {
              font-weight: normal;
            }
          }
        }
        a.editable-click {
          &::before {
            display: none;
          }
          &::after {
            color: $midnight-blue !important;
            font-weight: 900;
            margin: 0;
            font-family: "Font Awesome 5 Free";
            font-size: 1.33333em !important;
            content: "\f040";
            display: block;
            margin-left: 0.375rem;
          }
        }
        &.export_data {
          #export_options {
            & > div {
              display: block;
            }
          }
        }
        &.rubric_qm {
          padding: 0;
          .row_rubric_manager,
          .row_quickmark_manager {
            display: block;
            a {
              background: $white;
              padding: 0 80px 0 10px;
            }
          }
          .row_rubric_manager {
            a {
              i.icon-rubric {
                &::before {
                  @extend .icon-before;
                  content: '\f1b3';
                }
                &::after {
                  content: "Rubric manager";
                  font-family: "Open Sans";
                  font-size: 13px;
                  color: #222222;
                  text-decoration: underline;
                }
              }
            }
          }
          .row_quickmark_manager {
            a {
              i.icon-quickmarks {
                &::before {
                  @extend .icon-before;
                  content: '\f328';
                }
                &::after {
                  content: "Quickmark manager";
                  font-family: "Open Sans";
                  font-size: 13px;
                  color: #222222;
                  text-decoration: underline;
                }
              }
            }
          }
        }
        &.peermarks {
          .row_peermark_manager {
            a.tii_peermark_manager_launch {
              padding-left: 0;
              padding-right: 80px;
              i.tiiicon.icon-settings {
                &::after {
                  content: "Peermark manager";
                  font-family: "Open Sans";
                  font-size: 13px;
                  color: #222222;
                  text-decoration: underline;
                }
                &::before {
                  margin-right: 0.375rem;
                }
              } 
            }
          }
        }
      }
      .mod_turnitintooltwo_peermark_details {
        margin-bottom: 0;
      }
    }
    .dataTables_wrapper {
      border:1px solid $rules-and-outlines !important;
      border-radius: 0;
      padding: $component-margin !important;
      margin-bottom: $component-margin-bottom;
      // overflow: auto;
      .mod_turnitintooltwo_listbar-container {
        padding: 0;
        .mod_turnitintooltwo_listbar {
          border: none;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-between;
          a {
            white-space: nowrap;
          }
          .dataTables_length,
          .mod_turnitintooltwo_zip_downloads,
          .mod_turnitintooltwo_messages_inbox,
          .mod_turnitintooltwo_nonsubmitters_link,
          .mod_turnitintooltwo_refresh_link,
          .dataTables_filter {
            margin: 0 $component-margin-lg $component-margin-bottom 0;
            i {
              color: $midnight-blue;
              width: 20px;
              height: auto;
              margin-right: 0.375rem;
            }
          }
          .mod_turnitintooltwo_messages_inbox {
            i.fa-envelope-o::before {
              @extend .icon-before;
              content: '\f0e0';
            }
          }
          .mod_turnitintooltwo_nonsubmitters_link {
            i.fa-reply-all::before {
              @extend .icon-before;
              content: '\f0f3';
            }
          }
          .mod_turnitintooltwo_zip_downloads {
            margin-top: -$component-margin-xs;
            button.btn.dropdown-toggle {
              @extend .btn, .btn-primary;
              &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                margin-right: 0.375rem;
                content: '\f019';
              }
            }
          }
        }
      }
      .mod_turnitintooltwo_submissions_data_table {
        border:1px solid $rules-and-outlines;
        border-collapse: collapse;
        tr, th, td {
          border: 1px solid $rules-and-outlines;
          margin: 0;
          &.sorting_disabled, 
          &.center {
            border: none;
          }
          .grademark_open {
            margin-left: 0.375rem;
          }
        }
        td {
          font-size: 1rem;
        }
        thead {
          th {
            padding: 10px!important;
            background-color: $block-background;
            &.right.header {
              text-align: left;
            }
          }
          .sorting {
            background-image: none;
            background-color: $block-background;
            &::after {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: '\f0dc';
              color: $slate-grey;
              margin-left: 0.375rem;
              display: inline-block;
            }
          }
        }
        i, .fa-pencil.gm-blue {
          color: $midnight-blue!important;
        }
      }
      .dt_pagination {
        .dataTables_paginate {
          @extend .activity-pagination-container;
          .paginate_button {
            @extend .activity-pagination-button;
            &.current {
              @extend .a-p-b-active;
            }
          }
        }
      }
    }
  }
}
