// breadcrumb
.breadcrumb-nav ul.breadcrumb {
  font-family: 'KingsBureauGrotFiveOne';
  font-size: 1rem;
  a {
    color: #0d3254;
  }
  &::after {
    color: #aaa;
  }
}

// main page heading
.course-content ul li.section.main {
  margin-bottom: 0 !important;
}
#section-0 .content>h3.sectionname {
  @include font-scale(h1);
  background: none;
  margin-bottom: 1.5rem;
  padding-bottom: 0;
  &:after {
    display: none;
  }
}


