/* Navigation
   ======================== */

// see Book for Book pagination

// hide last modified date
.modified {
  display: none;
}

%navcontainer {
  margin-top: $component-margin;
  margin-bottom: $component-margin-bottom-lg !important;
  padding: 0;
  border-bottom: 1px solid $pearl-grey;
  @media only screen and (min-width: $neo-breakpoint) {
    display: flex;
    margin-bottom: 0 !important;
    border-bottom: none;
  }
  %navtextcontainer {
    display: block;
    width: 100%;
    margin: 0;
    float: none;
    // add margin between prev/next links on mobile
    & > :first-child {
      margin-bottom: $component-margin-bottom;
    }
    @media only screen and (min-width: $neo-breakpoint) {
      // add margin between prev/next links on mobile
      & > :first-child {
        margin-bottom: 0;
      }
    }
  }
  %navtext {
    position: relative;
    display:inline-block;
    float: none;
    margin: 0;
    padding-top: $component-padding-xs !important;
    padding-bottom: 0 !important;
    font-family: "KingsBureauGrot";
    font-size: 1.25rem !important;
    line-height: 1.2;
    color: $midnight-blue !important;
    background-color: transparent !important;
    box-shadow: none;
    border-radius: 0 !important;
    // to allow for focus outline to
    // wrap text and button
    min-height: 37px;
    &%navtext-prev {
      left: 0;
      padding-right: 0.75rem !important;
      padding-left: 3.25rem !important;
      text-align: left;
    }
    &%navtext-next {
      right: 0;
      padding-right: 3.25rem !important;
      padding-left: 0.75rem !important;
      text-align: right;
    }
    @media only screen and (min-width: $neo-breakpoint) {
      padding: 0.25rem 3rem 0 3rem !important;
    }
  }
}
%navbutton {
  @extend %icon-before;
  padding: 5px 16.5px;
  font-size: 1.5625rem;
  color: $white;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  margin: 0;
  background-color: $midnight-blue;
  box-shadow: 0 2px 0 0 shade($midnight-blue, 50%);
  &:hover {
    background-color: tint($midnight-blue, 15%);
    box-shadow: 0 2px 0 0 tint($midnight-blue, 20%);
  }
  @media only screen and (min-width: $neo-breakpoint) {
    font-size: 1.25rem;
    padding: 4px 12px;
  }
  &::before {
    @include fa-content($fa-angle-left);
    left: 0;
  }
  &::after {
    @include fa-content($fa-angle-right);
    right: 0;
  }
}

// activity navigation
.activity-navigation {
  @extend %navcontainer;
  margin-top: $component-margin-lg;
  .row {
    display: block;
    width: 100%;
    margin: 0 !important;
    padding-top: $component-padding;
    border-top: 1px solid $pearl-grey;
    @media only screen and (min-width: $neo-breakpoint) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .col-md-4 {
      padding: 0;
      @extend %navtextcontainer;
      // hide the jump to activity dropdown
      &:nth-child(2) {
        display: none;
      }
      a#prev-activity-link,
      a#next-activity-link {
        @extend %navtext;
      }
      a#prev-activity-link {
        @extend %navtext, %navtext-prev;
        &::before {
          @extend %navbutton;
        }
      }
      // right align next activity link
      &:last-child {
        display: flex;
        justify-content: flex-end;
        a#next-activity-link {
          @extend %navtext, %navtext-next;
          &::after {
            @extend %navbutton;
          }
        }
      }
    }
  }
}

// section navigation
.course-content .single-section .section-navigation.mdl-bottom {
  @extend %navcontainer;
  border-top: 1px solid $pearl-grey;
  margin-top: $component-margin-lg;
  padding-top: $component-padding;
  min-height: 78px;
  .mdl-left,
  .mdl-right {
    @extend %navtextcontainer;
    // override theme positioning for collapsed topics
    position: static;
    transform: none;
    a {
      @extend %navtext;
      @include focus-outline;
      min-height: 42px;
    }
  }
  .mdl-left {
    a {
      padding-left: 3.25rem;
      &::before {
        @extend %navbutton;
      }
    }
  }
  .mdl-right {
    a {
      text-align: right;
      padding-right: 3.25rem;
      &::after {
        @extend %navbutton;
      }
    }
  }
}
