/* Sidebar
   ========================================================================== */

.drawer {
  section.block {
    // Override Card heading styles and revert block titles to default h5
    // styles of Open Sans font and Body Text colour
    .card-title {
      @extend %h5;
      color: $body-text;
    }
  }
  // Text blocks
  .block_html {
    .content {
      ul {
        // Module academic team
        &.module-academic-team {
          li {
            & > img,
            & > span > img,
            .profile-img {
              width: 3rem;
              height: auto;
              margin-bottom: 0.25rem;
              border-radius: 50%;
            }
            & > span {
              &:not(.filter-ally-wrapper) {
                display: block;
              }
              &.name {
                @extend .bold-p;
              }
              &.email {
                a {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
