/* Academic note
   ========================================================================== */

.academic-note-container {
  @extend %note-container;
  // from common
  .card-body {
    display: flex;
    flex-wrap: wrap;
    .card-author {
      h3, h4, h5, h6 {
        margin-bottom: 0 !important;
      }
      // for when images of the academic are unavailable
      &.no-image {
        order: 2;
        margin-top: $component-margin;
        margin-bottom: 0 !important;
      }
    }
    .card-text {
      flex-basis: 100%;
    }
  }
}
