/* Activity label
   ========================================================================== */

.activity-label-container {
  margin: $component-margin--sm 0 0;
  display: inline-flex;
  // Activity label container further indented for desktop to be in line
  // with title
  @media only screen and (min-width: $breakpoint--md) {
    margin: $component-margin--2xs 0 0 calc(50px + #{$component-margin--sm});
  }
  div[class^="activity-label"] {
    margin-right: $component-margin--sm;
    color: $panel-grey--1000;
    display: flex;
    align-items: center;
    i.fa-solid {
      margin-right: $component-margin--2xs;
      font-size: 1rem;
    }
    .activity-label-text {
      @extend .bold-small-type;
      line-height: 1rem;
    }
  }
}

// If "activity-label-stu-ngr-nme" prefix is used then hide activity-label-container
.activity-item[data-activityname^='activity-label-stu-ngr-nme'] {
  .activity-label-container {
    display: none;
  }
}
