/* Alert
   ======================== */

// Non-alert info boxes are covered in infobox

.alert {
  @extend %info-box;
  // from common
  &.alert-success {
    background-color: tint($pea-green, 80%);
    &::before {
      @include fa-icon-content-only($thumbs-up);
      color: $pea-green;
      top: 0.625rem;
      left: 1.25rem;
    }
  }
  &.alert-instructional {
    background-color: tint($yellow, 80%);
    & > :first-child {
      padding: 0;
    }
    a {
      font-weight: 400;
    }
  }
  &.alert-caution {
    background-color: tint($yellow, 80%);
    &::before {
      @include fa-icon-content-only($triangle-exclamation);
      color: $kings-red;
    }
    a {
      font-weight: 400;
    }
  }
  &.alert-danger {
    background-color: tint($kings-red, 80%);
  }
  &.alert-info {
    color: $midnight-blue;
  }
  // alert after submitting feedback
  &.alert-block {
    &:not(.alert-caution):not(.alert-danger):not(.alert-info):not(.alert-warning) {
      padding-left: 3.25rem;
    }
    button.close {
      position: absolute;
      padding: 0;
      font-size: 1.5rem;
      top: 0.75rem;
      right: 1.25rem;
      &::before {
        margin-right: 0;
        font-size: 20px;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
  &::before {
    top: 0.625rem;
    left: 1.25rem;
  }
}
