/* Blockquote
   ========================================================================== */

$blockquote-image-size: 4rem;

.quote-box {
  @extend .gilchrist;
  position: relative;
  margin: $component-margin--xl 0 $component-margin;
  padding: $component-padding $component-padding--sm $component-padding--sm;
  background-color: $panel-grey;
  @media screen and (min-width: $breakpoint--md) {
    margin-top: 0;
    margin-left: calc(#{$blockquote-image-size} / 2);
    padding: $component-padding calc(#{$component-padding} * 2);
  }
  &::before {
    @include fa-icon($quote-left);
    position: absolute;
    top: -3rem;
    left: $spacing--2xs;
    height: $blockquote-image-size;
    width: $blockquote-image-size;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: $sea-blue--100;
    background-color: $midnight-blue;
    border-radius: 50%;
    @media screen and (min-width: $breakpoint--md) {
      top: $spacing--sm;
      left: calc(-#{$blockquote-image-size} / 2);
    }
  }
  .quote-body,
  .quote-body > * {
    @extend .gilchrist;
    &:not(ol):not(ul) {
      margin: 0;
      padding: 0;
    }
  }
  .quote-attribution {
    @extend .higgs;
    margin-top: $component-margin--2xs;
    h4, h5, h6,
    & > :last-child {
      margin-bottom: 0;
    }
  }
}

// Delete the following when styles are updated in theme
.blockquote {
  .quote-body {
    & > ol,
    & > ul {
      margin-bottom: $component-margin--sm;
    }
  }
}
