// -----------------------------------------------------------------------------
// button
// -----------------------------------------------------------------------------

// standard button
button, .btn {
  font-family: 'KingsBureauGrot';
  @include font-scale(btn);
  padding: 0.625rem 0.75rem !important;
  margin: 0 0.75rem 0.5rem 0 !important;
  border-radius: 4px !important;
  box-shadow: none;
  text-decoration: none !important;
  &.btn-primary, &.btn-default, &.course-discuss-reply-button {
    background-color: $midnight-blue !important;
    color: $white !important;
    &:hover {
      background-color: #536c84 !important;
      text-decoration: none !important;
    }
    &:focus {
        outline: thin dotted $sky-blue !important;
        outline-color:$sky-blue !important;
        outline-style: dotted;
        outline-width: thin;
        outline-offset: -2px;
    }
  }
  &.btn-secondary {
    background-color: $white !important;
    color: $midnight-blue !important;
    padding: 0.5rem 0.625rem !important;
    border: 2px solid $midnight-blue;
    &:hover {
      border-color: #536c84;
      background-color: #536c84 !important;
      color: white !important;
    }
  }
  &.btn-lg {
    @include font-scale(btn-lg);
    padding: 0.5625rem 1.5rem;
    min-width: 9.6875rem;
    box-shadow: 0 5px 0 0 #05192e;
    &:hover {
      background-color: #526C84;
      box-shadow: 0 5px 0 0 #43566B;
    }
  }
  &[disabled] {
    background-color: #cdd7dc !important;
    color: #5a6469 !important;
    opacity: 1;
    &:hover {
      background-color: #cdd7dc !important;
    }
  }
  &:last-child {
    margin: 0 0 0.5rem 0 !important;
  }
  i {
    font-size: 1.25rem;
    &:first-child {
      margin-right: 0.375rem;
    }
  }
  @media only screen and (max-width: $neo-breakpoint) {
    padding: 0.6875rem 1rem;
  }
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  &.btn-link:hover, &.btn-link:focus {
    text-decoration: none;
  }
}

input[type="submit"] {
  @extend .btn, .btn-primary;
  &.btn-secondary {
    @extend .btn-primary;
  }
}

.singlebutton > form > div {
  margin: 0;
}

// restrict access button
.pagelayout-admin {
  .moodle-dialogue .moodle-dialogue-bd .col-6 {
    max-width: none;
    button#availability_addrestriction_date,
    button#availability_addrestriction_grade,
    button#availability_addrestriction_profile,
    button#availability_addrestriction_list_ {
      width: auto !important;
    }
  }
}


// override white visited button text
button a.btn-secondary:visited, .btn a.btn-secondary:visited, a.btn.btn-secondary:visited {
  color: $midnight-blue !important;
}

.btn#id_cancel {
 @extend .btn-secondary;
}

// 3.9 button groups are all in separate spans
#fgroup_id_buttonar .fitem:not(:last-of-type) {
  margin-right: 0.75rem;
}
