/* Button
   ========================================================================== */

// Use of !important property to override Boost background-color on
// Bootstrap button classes
@mixin btn-primary($important: "") {
  background-color: $sea-blue #{$important};
  color: $white;
  &:hover {
    background-color: $reflex-blue #{$important};
  }
  &:active {
    border: 2px solid $reflex-blue;
  }
  @if ($important) {
    &:focus {
      background-color: $sea-blue !important;
    }
  }
}
@mixin btn-secondary($important: "") {
  background-color: $white #{$important};
  color: $sea-blue;
  &:not(:focus) {
    border: 2px solid $sea-blue;
  }
  &:hover,
  &:active {
    border-color: $reflex-blue;
    color: $reflex-blue;
  }
  &:hover {
    background-color: $sea-blue--100 #{$important};
  }
  &:active {
    // Override Boost background-color
    background-color: $white;
  }
  @if ($important) {
    &:focus {
      background-color: $white !important;
    }
  }
}

%btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  // Minimum size of 44px x 44px to comply with WCAG 2.1 AAA standards
  height: 44px;
  width: 44px;
  margin: 0;
  border-radius: 50% !important;
  font-size: 18px;
  .icon,
  i::before {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

%btn-disabled-important {
  background: $panel-grey--600 !important;
  border: 1px solid $powder-blue !important;
  color: $panel-grey--900 !important;
  opacity: 1;
  font-style: normal;
  cursor: auto;
  pointer-events: none;
}
