// -----------------------------------------------------------------------------
// carousel
// -----------------------------------------------------------------------------

.carousel {
  margin-bottom: 3.5rem;
  &::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 50;
  }
  .carousel-item {
    img {
      width: 100% !important;
      height: auto;
    }
  }
  .carousel-caption {
    @extend .caption-overlay;
    text-align: left;
    padding: 2.4% 11%;
    p {
      line-height: 1.5;
      margin-bottom: 0;
    }
    a {
      color: $white !important;
      &:hover {
        color: $lime-green !important;
      }
      &:visited {
        color: $yellow !important;
      }
    }
    @media only screen and (max-width: $neo-breakpoint) {
      position: static;
    }
  }
  &.text-only {
    .carousel-item {
      background-color: rgba(10, 45, 80, 0.85);
      padding-top: 33.3333%;
    }
    .carousel-caption {
      position: absolute;
      background-color: transparent;
      top: 25%;
      z-index: 1;
      padding: 2.4% 12%;
    }
  }
  .carousel-indicators {
    top: auto;
    bottom: -32px;
    margin: 0 !important;
    width: 100%;
    background-color: rgba(10, 45, 80, 1);
    li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: none;
      margin: 10px 11px;
    }
  }
  .carousel-control-prev, .carousel-control-next {
    opacity: 1;
  }
  // hide carousel controls on first and last slide
  &.start .carousel-control-prev, &.finish .carousel-control-next {
    display: none;
  }
  .carousel-control {
    background-color: rgba(10, 45, 80, 0.5);
    padding: 0 15px !important;
    border-radius: 4px;
    position: static;
    border: none;
    width: auto !important;
    height: auto !important;
    opacity: 1;
    &:hover {
      background-color: rgba(10, 45, 80, 1);
    }
    i {
    font-size: 60px;
    }
  }
}  
