// -----------------------------------------------------------------------------
// card
// -----------------------------------------------------------------------------

.card {
  display: flex;
  @media only screen and (max-width: $neo-breakpoint) {
    display: block;
  }
  flex-direction: row;
  border: none;
  margin-bottom: $component-margin-bottom;
  img, .card-img-top, .card-img-left, .img-top, .img-left {
    width: 310px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 0; 
    @media only screen and (max-width: $neo-breakpoint) {
      width: 100%;
    }
    &.img-right, .card-img-right {
      order: 2;
    }
  }
  .card-body {
    background-color: $block-background;
    h4 {
      margin-top: 0;
      margin-bottom: 0.75rem;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
}

// horizontal card deck
.card-deck {
  margin-left: 0;
  margin-right: 0;
  .card {
    display: block;
    margin-bottom: 1.5rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    .card-img-top, .card-img-left, .img-top, .img-left {
      width: 100%;
      height: auto;
    }
  }
}

.float-box {
  display: flex;
  margin-bottom: $component-margin-bottom;
  img {
    margin: 0;
    height: 100%;
    flex-shrink: 0;
  }
  img, .img-left {
    margin-right: 1rem;
  }
  .img-right {
    margin-left: 1rem;
    order: 2;
  }
  @media only screen and (max-width: $neo-breakpoint) {
    display: block;
    img, .img-left, {
      margin-right: 0;
      margin-bottom: 1rem;
      width: 100%;
    }
    .img-right {
      margin-left: 0;
    }
  }
  .float-box-body {
    h4 {
      margin-bottom: 0.75rem;
    }
  }
}