/* Card
   ========================================================================== */

$card-margin: $component-margin--sm;
$card-image-margin: $component-margin--sm;
$figcaption-margin: $component-margin--2xs;

.card {
  display: flex;
  // Stack card image and body text in mobile
  flex-direction: column;
  margin-bottom: $component-margin;
  background-color: $panel-grey;
  border: none;
  @media only screen and (min-width: $breakpoint--md) {
    flex-direction: row;
  }
  & > figure {
    margin-bottom: 0;
    // Apply margin to image only if figcaption is present
    & > .filter-ally-wrapper:not(:only-child) > img,
    & > img:not(:only-child) {
      width: calc(100% - (#{$card-image-margin} * 2));
      margin: $card-image-margin $card-image-margin 0 $card-image-margin;
    }
    figcaption {
      margin-right: $card-margin;
      margin-left: $card-margin;
    }
    @media only screen and (min-width: $breakpoint--md) {
      width: min-content;
      & > .filter-ally-wrapper:not(:only-child) > img,
      & > img:not(:only-child) {
        width: 310px;
        margin: $card-image-margin 0 0 $card-image-margin;
        border-radius: 0.5rem 0 0 0;
      }
      figcaption {
        margin-right: 0;
        margin-bottom: $card-margin;
      }
    }
  }
  & > figure > img,
  & > figure > .filter-ally-wrapper > img,
  & > img,
  & > .filter-ally-wrapper > img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    @media only screen and (min-width: $breakpoint--md) {
      width: 310px;
      border-radius: 0.5rem 0 0 0.5rem;
    }
  }
  & > img {
    height: 100%;
    // Legacy code to support old version of component where img-right
    // class was added to the img instead of the .card div
    &.img-right, .card-img-right {
      order: 2;
      & + .card-body {
        order: 1;
      }
    }
  }
  &.img-right {
    & > figure,
    & > .filter-ally-wrapper,
    & > img {
      order: 2;
    }
    & > figure,
    & > figure > .filter-ally-wrapper {
      & > img {
        border-radius: 0 0 0.5rem 0.5rem;
        @media only screen and (min-width: $breakpoint--md) {
          border-radius: 0 0.5rem 0.5rem 0;
        }
      }
    }
    & > figure {
      & > .filter-ally-wrapper:not(:only-child) > img,
      & > img:not(:only-child) {
        margin: 0 $card-image-margin;
        border-radius: 0;
      }
      figcaption {
        margin-bottom: $card-margin;
      }
      @media only screen and (min-width: $breakpoint--md) {
        width: min-content;
        & > .filter-ally-wrapper:not(:only-child) > img,
        & > img:not(:only-child) {
          margin: $card-image-margin $card-image-margin 0 0;
          border-radius: 0 0.5rem 0 0;
        }
        figcaption {
          margin-left: 0;
          margin-right: $card-margin;
        }
      }
    }
    .card-body {
      order: 1;
    }
  }
  .card-body {
    width: 100%;
    order: 2;
    .card-title,
    & > h3, & > h4, & > h5, & > h6 {
      @extend %h4;
      margin-bottom: $component-margin--2xs;
    }
    .card-subheading {
      @extend %h5;
      margin-bottom: $component-margin--2xs;
    }
    & > :last-child {
      margin-bottom: 0 !important;
    }
  }
}

// Horizontal card deck
.card-deck {
  margin-left: 0;
  margin-right: 0;
  .card {
    display: flex;
    flex-direction: column;
    // Required after the removal of old JS
    height: auto !important;
    margin-bottom: $component-margin;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    & > figure {
      height: fit-content;
      & > .filter-ally-wrapper:not(:only-child) > img,
      & > img:not(:only-child) {
        width: calc(100% - (#{$card-image-margin} * 2));
      }
      figcaption {
        margin-bottom: 0;
        margin-right: $card-margin;
      }
    }
    // Default layout of image above body text
    & > figure,
    & > .filter-ally-wrapper,
    & > img {
      order: 1;
      width: 100%;
    }
    & > figure > img,
    & figure .filter-ally-wrapper > img,
    & > img,
    & > .filter-ally-wrapper > img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    .card-body {
      order: 2;
      width: 100%;
      &:only-child {
        height: 100%;
      }
    }
  }
  // Alternative layout of body text above image
  &.img-bottom {
    .card {
      justify-content: space-between;
      figure {
        order: 2;
        img, .filter-ally-wrapper:only-child img {
          border-radius: 0 0 0.5rem 0.5rem;
          margin-top: 0;
        }
        & > .filter-ally-wrapper:not(:only-child) > img {
          margin: 0 $card-image-margin;
        }
        & > .filter-ally-wrapper:not(:only-child) > img, img:not(:only-child) {
          border-radius: 0;
        }
        figcaption {
          margin-bottom: $card-margin;
        }
      }
      .card-body {
        order: 1;
      }
    }
  }
}
