/* Collapse
   ======================== */

.collapse-container {
  margin-bottom: $component-margin-bottom;
  .collapse-card {
    border-bottom: 2px solid $pearl-grey;
    padding: $component-margin-sm;
    &:first-child {
      border-top: 2px solid $pearl-grey;
    }
    .collapse-header {
      button {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        text-align: left;
        .collapse-title,
        h3, h4, h5, h6 {
          @extend .h4;
          position: relative;
          margin-bottom: 0;
          margin-left: 1.75rem;
          line-height: 1;
          color: $midnight-blue;
          width: calc(100% - 1.75rem);
          &::before {
            @extend .icon-before;
            content: '\f107';
            margin: 0;
            font-size: 1.5rem;
            position: absolute;
            left: -1.75rem;
            top: -2px;
          }
        }
      }
      &:focus-within {
        outline: 4px auto -webkit-focus-ring-color;
      }
      .btn:focus {
        outline: none;
      }
    }
    .collapse-body {
      margin-top: 1rem;
      margin-left: 1.75rem;
      &.highlighted {
        padding: 1rem;
        background-color: $block-background;
      }
      .collapse-subheading {
        @extend .h5;
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.collapsed {
      .collapse-header {
        button {
          .collapse-title,
          h3, h4, h5, h6 {
            &::before {
              content: '\f105';
            }
          }
        }
      }
      .collapse-body {
        display: none;
      }
    }
  }
}

// display in block in atto editor
.editor_atto_content {
  .collapse-container {
    .collapse-card.collapsed {
      .collapse-body {
        display: block !important;
      }
    }
  }
}
