/* Collapse
   ========================================================================== */

.collapse-container {
  margin-bottom: $component-margin;
  .collapse-card {
    flex-direction: column;
    padding: calc(#{$component-margin--xs} / 2);
    border: $component-border;
    border-radius: 0.5rem;
    &:not(:last-child) {
      margin-bottom: $component-margin--xs;
    }
    .collapse-header {
      padding: 0;
      background-color: transparent;
      border-bottom: none;
      h3, h4, h5, h6 {
        @extend %h6;
        @extend %link-colour;
        margin-bottom: 0;
      }
      button {
        @include fa-icon-after($chevron-up);
        position: relative;
        width: 100%;
        margin-bottom: 0 !important;
        padding: calc(#{$component-margin--xs} / 2) 2rem
        calc(#{$component-margin--xs} / 2) calc(#{$component-margin--xs} / 2)
        !important;
        text-align: left;
        &::after {
          position: absolute;
          top: calc(#{$spacing--xs} / 2);
          right: $spacing--xs;
        }
      }
    }
    .collapse-body {
      padding: calc(#{$component-margin--xs} / 2);
      &.highlighted {
        margin: calc(#{$component-margin--xs} / 2);
        background-color: $panel-grey--600;
      }
      .collapse-subheading {
        @extend %h6;
        margin-bottom: $component-margin--2xs;
      }
      & > :last-child {
        margin-bottom: 0;
      }
    }
    &.collapsed {
      .collapse-header {
        button::after {
          @include fa-icon-content-only($chevron-down);
        }
      }
      .collapse-body {
        display: none;
      }
    }
  }
}

// Display in block in atto editor
.editor_atto_content {
  .collapse-container {
    pointer-events:none;
    .collapse-card.collapsed {
      .collapse-body {
        display: block !important;
      }
    }
  }
}
