/* Footnotes
   ========================================================================== */

/* v2.6- */
section#region-main {
  // style counter
  a[aria-describedby="footnote-label"] {
    color: inherit;
    cursor: default;
    outline: none;
    vertical-align: super;
    font-size: 0.75rem;
    padding: 3px;
    margin-bottom: 5px;
    text-decoration: underline;
    cursor: pointer;
    .sr-only.ref-label {
      border: none;
      padding: 0;
      margin: 0;
      &::before {
        display: none;
      }
    }
  }
  // style footnote
  aside.footnotes{
    border-top: 1px solid $panel-grey--700;
    padding: $component-padding 0 0 0;
    margin: $component-margin 0 0 0;
    :target {
      background-color: $panel-grey--600;
    }
    ol {
      margin-bottom: 0;
      li {
        font-size: 0.875rem;
        line-height: 1.5;
      }
    }
  }
}
// hide the screenreader only note in editor view of books
.editing {
  #region-main {
    #id_content_editoreditable {
      a {
        .ref-label {
          display: none;
        }
      }
    }
  }
}

/* v2.7+ */
// Supported list style types
// Disc and none ref links will display as decimal
$list-style-types: [
  decimal, // A number (default)
  disc, // A filled circle
  lower-alpha, lower-latin, // a, b, c, d, etc.
  lower-roman, // i, ii, iii, iv, etc.
  none, // No marker shown
  upper-alpha, upper-latin, // A, B, C, D, etc.
  upper-roman // I, II, III, IV, etc.
];

@mixin list-style-types {
  @each $type in $list-style-types {
    &.lst-#{$type} {
      .footnotes-body {
        .quote::after {
          @if $type == disc or $type == none {
            content: counter(quote, decimal);
          } @else {
            content: counter(quote, $type);
          }
        }
      }
      .footnotes-footer {
        ol {
          list-style: $type !important;
        }
      }
    }
  }
}

#region-main {
  .footnotes-article {
    @include list-style-types;
    margin-bottom: $component-margin;
    // reference list
    .footnotes-body {
      counter-reset: quote;
      .quote {
        color: $panel-grey--1000;
        text-decoration: none;
        counter-increment: quote;
        // Ref styled just incase JS fails to move to footer
        .ref {
          font-style: italic;
          &::before {
            content: " [";
          }
          &::after {
            content: "]";
          }
        }
        &::after {
          content: counter(quote);
          font-size: 0.875rem;
          vertical-align: top;
          position: relative;
          top: -4px;
          padding: 0 4px;
          border-radius: 4px;
          color: $sea-blue;
        }
        &:hover,
        &:target,
        &:focus {
          outline: none;
        }
        &:hover {
          &::after {
            color: $reflex-blue;
            text-decoration: underline;
          }
        }
        &:focus {
          @-moz-document url-prefix() {
            outline-offset: 0 !important;
          }
        }
      }
    }
    .footnotes-footer {
      border-top: 1px solid $panel-grey--700;
      padding: $component-padding 0 0 0;
      margin: $component-margin 0 0 0;
      ol {
        margin: 0 0 0 $component-margin--lg !important;
        li {
          display: list-item !important;
          .ref {
            @extend .small-type;
            a {
              word-break: break-all;
              // External link icon {
              i.open-icon {
                margin-left: 4px;
              }
            }
          }
          &::marker {
            font-size: 14px;
          }
          &::before {
            display: none !important;
          }
          &.selected {
            position: relative;
            a {
              @extend %link-colour;
              .ref {
                font-weight: bold;
                color: inherit;
              }
            }
            &::marker {
              font-weight: bold;
              color: $sea-blue;
            }
          }
        }
      }
    }
  }
}

// hide the screenreader only note in editor view of books
.editing {
  #region-main {
    #id_content_editoreditable {
      a {
        .ref-label {
          display: none;
        }
      }
    }
  }
}
