// -----------------------------------------------------------------------------
// hero banner
// -----------------------------------------------------------------------------

.hero {
  @extend .top-bar;
  margin-bottom: $component-margin-bottom-lg;
  &::before {
    z-index: 0 !important;
  }
  img {
    width: 100%;
  }
  .hero-caption {
    @extend .caption-overlay;
    @media only screen and (max-width: $neo-breakpoint) {
      position: static;
    }
    h2 {
      color: $white !important;
      margin: 0 !important;
    }
  }
}
