/* Images
   =========================*/

// Table of contents
// =================
// 1. Icons
// 2. Figure / image container options
//    - figure
//    - centered images
//    - full width images
//    - horizontal scroll
// 3. Image
//    - circular
//    - responsive
//    - screenshot
// 4. Overrides

// 1. Icons

img.icon {
  box-sizing: content-box;
}
// remove padding from theme so icons can use defined dimensions
img.iconsmall {
  padding: 0;
}

// 2. Figure / image container options

// replaced div as standard image container
// in v2.6
figure {
  margin: 0 0 $component-margin-bottom 0;
  figcaption {
    @extend %caption;
  }
  // image, table etc.
  & > :not(figcaption),
  & > .img-scroll, & > .image-scroll {
    margin-bottom: 0 !important;
  }
}

.center-img, .img-center,
.full-width-img, .img-full-width {
  margin-bottom: $component-margin-bottom;
  figcaption, .caption {
    max-width: none;
  }
}

// centered images
.center-img, .img-center {
  text-align: center;
  img {
    max-width: 100%;
    height: auto;
  }
}

// full width images
.full-width-img, .img-full-width {
  margin-bottom: $component-margin-bottom;
  img {
    width: 100%;
    height: auto;
  }
}

// image-scroll container
// class goes on container div which can be used inside figure
// to prevent figcaption from also scrolling e.g.
//
// <figure>
//   <div class="img-scroll"><img></div>
//   <figcaption></figcaption>
// </figure>
//
.img-scroll, .image-scroll {
  @extend %horizontal-scroll;
}

// 3. Image options
// can be nested inside figure / container

// responsive images styles copied from theme
// useful for custom width (not full-width) images
.img-responsive,
.circular-img, .img-circular, %img-circular,
.screenshot {
  margin-bottom: $component-margin-bottom;
  max-width: 100%;
  height: auto;
}
figure {
  .img-responsive,
  .circular-img, .img-circular, %img-circular,
  .screenshot {
    margin-bottom: 0;
  }
}

// circular images
.circular-img, .img-circular, %img-circular {
  border-radius: 50%;
}

// screenshots
.screenshot,
// internal workaround for images with white backgrounds
.img-bordered {
  border: 1px solid $rules-and-outlines;
}

// 4. Overrides

// override theme image margin
.atto_image_button_text-bottom {
  margin: 0;
  max-width: 100% !important;
}
