/* Info boxes
   =========================*/

// Alert-type info boxes are covered in alerts

// Table of contents
// =================
// 1. Definition
// 2. Editing help
// 3. Feedback
//   - A) Correct answer
//   - B) Incorrect answer
//   - C) Model answer
// 4. Key concept
// 5. Learning outcome
// 6. Media
// 7. My Journal (journal)
// 8. Reading
// 9. Shared resources
// 10. Social annotation files (files)

// 1. Definition
.definition-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-icon-content-only($bookmark);
    color: $purple;
  }
}

// 2. Editing help
body {
  &:not(.editing) {
    .editing-help-box {
      display: none;
    }
  }
  .editing-help-box {
    @extend %info-box;
    background-color: tint($lime-green, 80%);
    &::before {
      font-size: 1.5rem;
      @include fa-icon-content-only($circle-question);
      color: $teal-blue;
    }
  }
}

// 3. Feedback
.feedback-box {
  @extend %info-box;
  // 3A. Correct answer
  &.correct-answer {
    // Custom light green - variable to be created
    background-color: #DBF5EA;
    &::before {
      @include fa-icon-content-only($circle-check);
      // Custom dark green - variable to be created
      color: #195031;
    }
  }
  // 3B. Incorrect answer
  &.incorrect-answer {
    // Custom light red - variable to be created
    background-color: #FBDAD9;
    &::before {
      @include fa-icon-content-only($circle-xmark);
      // Custom dark red - variable to be created
      color: #881510;
    }
  }
  // 3C. Model answer
  &.model-answer {
    // Custom light purple - variable to be created
    background-color: #E2D8ED;
    &::before {
      @include fa-icon-content-only($message);
      // Custom dark purple - variable to be created
      color: #424046;
    }
  }
}

// 4. Key concept
.key-concept-box {
  color: red !important;
  @extend %info-box;
  & > :first-child {
    padding-left: 0;
    * {
      font-weight: bold;
    }
  }
}

// 5. Learning outcome
#region-main {
  .learning-outcome-box {
    @extend %info-box;
    &::before {
      @include fa-icon-content-only($trophy);
      color: $teal-blue;
    }
    & > ol, & > ul {
      margin: 0 0 $component-margin 1.25rem;
      li:last-child {
        margin-bottom: 0;
      }
      &:last-child {
        margin: 0 0 0 1.25rem;
      }
    }
  }
}

// 6. Media
.media-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-icon-content-only($circle-play);
  }
}

// 7. My Journal (journal)
.journal-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-icon-content-only($pen-to-square);
  }
}

// 8. Reading
.reading-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-icon-content-only($book-open-reader);
  }
  // This variation often features url references
  // so force word-break
  p {
    word-break: break-word;
  }
}

// 9. Shared resources
.shared-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-icon-content-only($users);
  }
}

// 10. Social annotation files (files)
.files-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-icon-content-only($folder-open);
  }
}
