/* Info boxes
   =========================*/

// Alert-type info boxes are covered in alerts

// Table of contents
// =================
// 1. Definition
// 2. Editing help
// 3. Feedback
//   - correct-answer
//   - model-answer
//   - incorrect-answer
// 4. Key concept
// 5. Learning outcome
// 6. Media
// 6. My Journal (journal)
// 7. Reading
// 8. Shared resources
// 9. Social annotation files (files)

// definition box
.definition-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-content($fa-bookmark);
    padding: 0 5px;
    color: $purple70;
  }
}

// editing help box
body {
  &:not(.editing) {
    .editing-help-box {
      display: none;
    }
  }
  .editing-help-box {
    @extend %info-box;
    background-color: tint($lime-green, 80%);
    border-radius: 1.5rem;
    &::before {
      font-size: 1.5rem;
      @include fa-content($fa-question-circle);
      padding: 0 2.5px;
      color: $teal-blue;
    }
  }
}

// feedback box
.feedback-box {
  @extend %info-box;
  &.correct-answer {
    background-color: tint($pea-green, 80%);
    &::before {
      @include fa-content($fa-check-circle);
      color: $pea-green;
      padding: 0 4px;
    }
  }
  &.model-answer {
    background-color: tint($yellow, 80%);
    &::before {
      @include fa-content($fa-comments-alt);
      color: $yellow;
      padding: 0 4px;
    }
  }
  &.incorrect-answer {
    background-color: tint($kings-red, 80%);
    &::before {
      @include fa-content($fa-times-circle);
      color: $kings-red;
      padding: 0 4px;
    }
  }
}

// key concept box
.key-concept-box {
  background-color: $block-background;
  margin-bottom: $component-margin-bottom;
  padding: $component-padding;
  div > :last-child {
    margin-bottom: 0 !important;
  }
  p, li {
    @include font-scale(key-concept, $font-os);
    font-weight: bold;
  }
}

// learning outcome box
#region-main {
  .learning-outcome-box {
    @extend %info-box;
    &::before {
      @include fa-content($fa-trophy);
      color: $teal-blue;
      padding: 0 4px;
    }
    ol, ul {
      margin: 0 0 $component-margin-bottom 1.25rem;
      li:last-child {
        margin-bottom: 0;
      }
      &:last-child {
        margin: 0 0 0 1.25rem;
      }
    }
  }
}

// media box
.media-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-content($fa-play-circle);
    padding: 0 5px;
  }
}

// journal box
.journal-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-content($fa-edit);
    padding: 0 1px 0 2px;
  }
}

// reading box
.reading-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-content($fa-book-reader);
    padding: 0 2px 0 3px;
  }
}

// shared resources box
.shared-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-content($fa-users);
  }
}

// social annotation files box
.files-box {
  @extend %info-box;
  // from common
  &::before {
    @include fa-content($fa-folder-open);
    padding: 0 1px 0 2px;
  }
}
