/* Process
   =========================*/

.process-container {
  margin-bottom: $component-margin-bottom;
  .process-card {
    margin-bottom: 0;
    background-color: $block-background;
    padding: $component-padding;
    &.highlighted {
      border: 3px solid $orange;
    }
    &:last-child {
      margin-bottom: $component-margin-bottom;
    }
    @media only screen and (max-width: $neo-breakpoint) {
      padding: $component-padding-sm;
    }
    .card-body {
      padding: 0;
    }
    & > img,
    & > .filter-ally-wrapper > img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      @media only screen and (max-width: $neo-breakpoint) {
        width: 100%;
        height: auto;
      }
    }
    & > img,
    & > .filter-ally-wrapper {
      display: block;
      margin-right: $component-margin;
      @media only screen and (max-width: $neo-breakpoint) {
        margin-right: 0;
        margin-bottom: $component-margin-bottom-sm;
      }
    }
  }
  .connector-container {
    margin: $component-margin-xs 0;
    width: 100%;
    text-align: center;
    .icon {
      height: 40px;
      display: flex;
      justify-content: center;
      &.arrow-down::before,
      &.arrow-up::after {
        @extend %icon-before;
        margin: $component-margin-xs;
        @include fa-content($fa-arrow-down);
        color: $midnight-blue;
        font-size: 40px;
        @media only screen and (max-width: $neo-breakpoint) {
          font-size: 32px;
        }
      }
      &.arrow-up::after {
        @include fa-content($fa-arrow-up);
      }
      &.relate {
        border-right: 5px solid $midnight-blue;
        margin-bottom: $component-margin-xs;
        width: calc(50% - 2px);
      }
    }
    .process-label {
      // note that this can be made screenreader-only; the scss for that is in screenreaderdescription
      align-self: center;
      font-weight: bold;
      line-height: 1;
      &:first-child {
        margin-bottom: $component-margin-xs;
      }
      &:last-child {
        margin-top: $component-margin-xs;
      }
    }
  }
}
