/* Scrollbar
   ========================================================================== */

#region-main {
  ::-webkit-scrollbar {
     width: 0.5rem;
     height: 0.5rem;
  }
  // Track
  ::-webkit-scrollbar-track {
    background: $panel-grey;
  }
  // Handle
  ::-webkit-scrollbar-thumb {
    background: $powder-blue; 
    border-radius: 0.25rem;
  }
  .table-scroll {
    // Firefox
    scrollbar-color: $powder-blue $panel-grey;
    scrollbar-width: thin;
  }
}
  