/* Screenreader-only description
   ========================================================================== */

@mixin label-inner-top-left ($label-text, $bg-color){
  background-color: tint($bg-color, 80%);
  &::before {
    font-size: 1.125rem;
    color: $white;
    padding: 4px;
    margin-right: 4px;
    content: $label-text;
    background-color: $bg-color;
  }
}

// In student view, the sr-only content is invisible to sighted users.
// The .sr-only class is defined in the fontawesome library and the Lambda theme

// Editor view
.editor_atto_content_wrap {
  .sr-only,
  .complex-image {
    margin: 0;
    padding: $component-padding--2xs;
  }
  .sr-only {
    @include label-inner-top-left ("Description for screen readers", $teal-blue);
    display: inline-block;
    vertical-align: middle;
    position: initial;
    margin-right: $component-margin--2xs;
    width: auto;
    height: auto;
    border: 1px dashed $body-text;
    & > :first-child {
      margin-top: $component-margin;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
  .complex-image {
    @include label-inner-top-left ("Complex image", $orange);
    border: 1px solid $body-text;
  }
  // when both are present, add margin inbetween
  .complex-image + .sr-only,
  .sr-only + .complex-image {
    margin-top: $component-margin--2xs;
  }
}
