// -----------------------------------------------------------------------------
// table
// -----------------------------------------------------------------------------
.table-scroll {
  overflow: auto;
  margin-bottom: $component-margin-bottom;
  table {
    margin-bottom: 0;
    display: inline;
  }
}
table, .table {
  margin-bottom: $component-margin-bottom;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 0;
  &.table-bordered {
    border: none;
    border-radius: 0;
    th, td {
      border: 1px solid $table-border !important;
    }
  }
  &.default-width {
    width: auto;
  }
  th, td {
    padding: 0.75rem 1.25rem;
    border-radius: 0 !important;
    &.border-left-none {
      border-left: 0 !important;
    }
  }
  thead {
    border: none !important;
  }
  th {
    background-color: $block-background;
    font-family: 'KingsBureauGrot';
    font-size: 1.125rem;
    line-height: 1.4;
    color: $headings;
    border-radius: 0 !important;
    vertical-align: top;
  }
  td {
    line-height: 1.375;
    color: $body-text;
  }
  tr.border-none td, tr.border-none th {
    border-top: 0 !important;
    &:not(:first-child) {
      border-left: 0;
    }
  }
  &.vertical-align-middle {
    th, td {
      vertical-align: middle;
    }
  }
  &.table-narrow-cell {
     th, td {
       padding: 0.75rem 0.5rem;
     }
  }
}
