/* Timeline
   =========================*/

// timeline variables
$timeline-join: 3px solid $rules-and-outlines !important;

.timeline-container {
  margin-left: 4rem;
  @media only screen and (max-width: $neo-breakpoint) {
    margin-left: 0;
  }
  padding: $component-padding-xs 1.25rem 0 1.25rem;
  .timeline-badge-pill {
    border-radius: 50%;
    border: 8px solid $teal-blue !important;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    background-color: transparent;
    &.fill {
      background-color: $teal-blue;
    }
    // horizontal line between pill and card
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: calc(50% - 1.5px);
      left: calc(50% + 12px);
      border-bottom: $timeline-join;
      width: 38px;
    }
  }
  .timeline-row {
    .border-right {
      border-right: $timeline-join;
    }
    .border-left {
      border-left: $timeline-join;
    }
    .flex-column {
      display: flex !important;
      // prevent sub-pixel errors at 90% zoom
      min-width: 75px;
    }
    .timeline-content {
      margin: $component-margin 0;
    }
    .timeline-card {
      position: relative;
      margin-bottom: $component-margin-bottom;
      border: none;
      border-radius: 0 6px 6px 6px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
      &.no-date {
        border-radius: 6px;
      }
      .card-body {
        position: relative;
        background-color: $block-background;
        color: $body-text;
      }
      .date-tab {
        position: absolute;
        top: -30px;
        left: 0;
        background-color: $teal-blue;
        padding: 4px 8px;
        border-radius: 6px 6px 0 0;
        color: white;
        font-family: "KingsBureauGrot";
        line-height: 1.4;
      }
      img:not(.icon) {
        width: 100%;
        height: auto;
      }
      .card-image {
        margin-bottom: 15px;
        @media only screen and (min-width: $neo-breakpoint) {
          padding-right: 5px;
        }
      }
      h3, h4, h5, h6 {
        @extend %h4;
        margin-top: 0;
      }
      .img-reference {
        font-size: 0.8125rem;
        margin-bottom: 0;
        margin-top: 15px;
        @media only screen and (min-width: $neo-breakpoint) {
          text-align: right;
          margin-top: 0;
        }
      }
    }
    &.highlighted  {
      .date-tab {
        background-color: $orange;
      }
      .card-body {
        background-color: #ffe0d3;
      }
      .timeline-badge-pill {
        border-color: $orange !important;
        &.fill {
          background-color: $orange;
        }
      }
    }
    &:last-child {
      .timeline-card {
        margin-bottom: 0;
      }
    }
  }
}

// timeline introduced in v2.5
.timeline-2021-container {
  margin-bottom: $component-margin-bottom;
  // if overriding original timeline
  // the margin-left and padding can be omitted
  margin-left: 0;
  padding: 0;
  .timeline-card {
    display: flex;
    background-color: $block-background;
    padding: 1.25rem;
    margin-bottom: $component-margin-bottom-lg;
    position: relative;
    &:not(:first-child) {
      &::before {
        position: absolute;
        content: "";
        /* teal darken 15% */
        border: 0.25rem solid darken($teal-blue, 15%);
        height: 2.25rem;
        top: -$component-margin-lg;
        left: $component-margin-xl;
      }
      &.highlighted::before {
        top: calc(-2.25rem - 3px);
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.highlighted {
      border: 3px solid $orange;
      padding: calc(1.25rem - 3px);
      .date-label {
      /*  background-color: #D93900; */
      }
    }
    .date-label {
      line-height: 1rem;
      font-family: OpenSans, sans-serif;
      font-size: 1rem;
      font-weight: bold !important;
      color: white;
      /* teal darken 15% */
      background-color: darken($teal-blue, 15%);
      padding: $component-padding-xs;
      width: fit-content;
    }
    & > :last-child {
      margin-bottom: 0;
    }
    .card-body {
      padding: 0;
      width: 100%;
      &:not(:only-child) {
      }
      & > :last-child {
        margin-bottom: 0;
      }
    }
    .card-image {
      order: 2;
      max-width: 130px;
      margin: 0 0 0 1.25rem;
      img {
        max-width: 100%;
        margin-bottom: $component-margin-bottom-xs;
      }
    }
  }
}
