/* Timeline
   =========================*/

// timeline variables
$timeline-margin: $component-margin--sm;
$timeline-padding: $component-padding--sm;
$timeline-join: 3px solid darken($teal-blue, 15%) !important;

.timeline-container {
  margin-left: 4rem;
  padding: $component-padding--2xs 1.25rem 0 1.25rem;
  @media only screen and (max-width: $breakpoint--md) {
    margin-left: 0;
  }
  .timeline-badge-pill {
    border-radius: 50%;
    border: 8px solid $teal-blue !important;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    background-color: transparent;
    &.fill {
      background-color: $teal-blue;
    }
    // Horizontal line between pill and card
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: calc(50% - 1.5px);
      left: calc(50% + 12px);
      border-bottom: $timeline-join;
      width: 38px;
    }
  }
  .timeline-row {
    .border-right {
      border-right: $timeline-join;
    }
    .border-left {
      border-left: $timeline-join;
    }
    .flex-column {
      display: flex !important;
      // Prevent sub-pixel errors at 90% zoom
      min-width: 75px;
    }
    .timeline-content {
      margin: $component-margin 0;
    }
    .timeline-card {
      position: relative;
      margin-bottom: $component-margin;
      border: none;
      border-radius: 0 0.5rem 0.5rem 0.5rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
      &.no-date {
        border-radius: 0.5rem;
      }
      .card-body {
        position: relative;
        background-color: $panel-grey;
        color: $body-text;
      }
      .date-tab {
        position: absolute;
        top: -30px;
        left: 0;
        background-color: $teal-blue;
        padding: 4px 8px;
        border-radius: 0.5rem 0.5rem 0 0;
        color: $white;
        line-height: 1.4;
      }
      img:not(.icon) {
        width: 100%;
        height: auto;
      }
      .card-image {
        margin-bottom: 15px;
        @media only screen and (min-width: $breakpoint--md) {
          padding-right: 5px;
        }
      }
      h3, h4, h5, h6 {
      //  @extend %h4;
        margin-top: 0;
      }
      .img-reference {
        font-size: 0.8125rem;
        margin-bottom: 0;
        margin-top: 15px;
        @media only screen and (min-width: $breakpoint--md) {
          text-align: right;
          margin-top: 0;
        }
      }
    }
    &.highlighted  {
      .date-tab {
        background-color: $orange;
      }
      .card-body {
        background-color: #ffe0d3;
      }
      .timeline-badge-pill {
        border-color: $orange !important;
        &.fill {
          background-color: $orange;
        }
      }
    }
    &:last-child {
      .timeline-card {
        margin-bottom: 0;
      }
    }
  }
}

// Timeline introduced in v2.5
.timeline-2021-container {
  margin-bottom: $component-margin;
  // If overriding original timeline
  // the margin-left and padding can be omitted
  margin-left: 0;
  .timeline-card {
    position: relative;
    display: flex;
    margin-bottom: $component-margin--lg;
    padding: $timeline-padding;
    background-color: $panel-grey;
    border-radius: 0.5rem;
    &:not(:first-child) {
      &::before {
        position: absolute;
        top: -$component-margin--lg;
        left: $component-margin--xl;
        content: "";
        height: 2.25rem;
        border-left: 0.5rem solid darken($teal-blue, 15%);
      }
      &.highlighted::before {
        top: calc(-#{$component-margin--lg} - 3px);
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
    &.highlighted {
      border: 3px solid $orange;
    }
    .date-label {
      width: fit-content;
      padding: $component-padding--2xs;
      font-family: OpenSans, sans-serif;
      font-size: 1rem;
      font-weight: bold !important;
      line-height: 1rem;
      color: $white;
      background-color: darken($teal-blue, 15%);
    }
    & > :last-child {
      margin-bottom: 0;
    }
    .card-body {
      flex: 1;
      width: 100%;
      padding: 0;
      .card-title {
        margin-bottom: $component-margin--2xs;
      }
      & > :last-child {
        margin-bottom: 0;
      }
    }
    .card-image {
      order: 2;
      max-width: 130px;
      margin-left: $timeline-margin;
      img {
        max-width: 100%;
        border-radius: 0 0.5rem 0 0;
      }
    }
  }
}
