/* View/hide
   ======================== */

.view-generic-container,
.view-answer-container,
.view-feedback-container,
.view-model-answer-container,
.view-description-container {
  // from Common
  @extend .note-container;
  .card-body {
    margin-top: $component-margin;
  }
}
// display in block in atto editor
.editor_atto_content {
 .view-generic-container,
 .view-answer-container,
 .view-feedback-container,
 .view-model-answer-container,
 .view-description-container {
   & > div {
     display: block !important;
    }
  }
}

//description used in float box
.float-box{
  .img-container{
    .view-description-container{
      max-width: 310px;
      margin-top: $component-margin-xs;
    }
  }
}
