/* View/hide
   ======================== */

.view-generic-container,
.view-answer-container,
.view-feedback-container,
.view-model-answer-container,
.view-description-container {
  // from Common
  @extend %note-container;
  & > [class^="view-"][class$="-card"] > .card-body {
    margin-top: $component-margin;
    .card-text {
      max-width: 100%;
    }
  }
}

// display in block in atto editor
.editor_atto_content {
 .view-generic-container,
 .view-answer-container,
 .view-feedback-container,
 .view-model-answer-container,
 .view-description-container {
   & > div {
     display: block !important;
    }
    // disabled button
    button {
      background-color: $block-background !important;
      color: $slate-grey !important;
      pointer-events: none;
    }
  }
}
