/* View/hide
   ========================================================================== */

.view-generic-container,
.view-answer-container,
.view-feedback-container,
.view-model-answer-container,
.view-description-container {
  @extend %note-container;
  & > a,
  & > button {
    @include fa-icon-before($eye-slash);
    margin-bottom: 0 !important;
  }
  & > [class^="view-"][class$="-card"] > .card-body {
    margin-top: $component-margin;
    .card-text {
      width: 100%;
    }
  }
  &.collapsed {
    & > a,
    & > button {
      @include fa-icon-before($eye);
    }
    & > div {
      display: none;
    }
  }
}

// Display in block in atto editor
.editor_atto_content {
 .view-generic-container,
 .view-answer-container,
 .view-feedback-container,
 .view-model-answer-container,
 .view-description-container {
   & > div {
     display: block !important;
    }
    // Disable button
    button {
      @extend %btn-disabled-important;
    }
  }
}
