// Fonts
// ==========================

// primary font used for headings
@font-face {
  font-family: "KingsBureauGrot";
  src: url("../../assets/fonts/KingsBureauGrot-ThreeSeven.woff") format("woff"), /* Modern Browsers */
       url("../../assets/fonts/KingsBureauGrot-ThreeSeven.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: bold;
  font-style: normal;
}

// secondary fonts
// Open Sans support font used for body text within sidebar blocks
@font-face {
  font-family: "KingsBureauGrotFiveOne";
  src: url("../../assets/fonts/KingsBureauGrot-FiveOne.ttf") format("truetype");
  font-style: normal;
}
