// -----------------------------------------------------------------------------
// fonts
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'KingsBureauGrot';
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KingsBureauGrotFiveOne';
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf') format('truetype');
  font-style: normal;
}
