/* Fonts
   ========================================================================== */

/**
 * King's Caslon 
 * Primary font used for larger headings
 */
 
@font-face {
  font-family: "KingsCaslon";
  src:
  url("https://keatsuat4x.kcl.ac.uk/pluginfile.php/1/theme_boost_union/customfonts/0/KingsCaslon-woff.woff")
  format("woff");
  font-weight: normal;
  font-style: normal;
}

/**
 * Open Sans 
 * Secondary font used for smaller headings and body text
 * Embedded via addition HTML
 */
 