// Icons
// ========================================================================== */

// Brand UI Kit icons
// ========================================================================== */

// Arrows
//==================================== */

$chevron-left: f053;
$chevron-right: f054;
$arrow-left: f060;
$arrow-right: f061;
$arrow-up: f062;
$arrow-down: f063;
$chevron-up: f077;
$chevron-down: f078;
$circle-chevron-up: f139;
$up-right-and-down-left-from-center: f424;

// Components
//==================================== */

$bookmark: f02e;
$pen-to-square: f044;
$circle-xmark: f057;
$circle-check: f058;
$circle-question: f059;
$eye: f06e;
$eye-slash: f070;
$triangle-exclamation: f071;
$folder-open: f07c;
$trophy: f091;
$users: f0c0;
$folder-open: f07c;
$quote-left: f10d;
$circle-play: f144;
$thumbs-up: f164;
$users: f0c0;
$message: f27a;
$book-open-reader: f5da;

// Learning
//==================================== */

$check: f00c;
$xmark: f00d;
$circle-question: f059; // Regular
$circle-exclamation: f06a; // Regular

// Menu
//==================================== */

$magnifying-glass: f002;
$user: f007;
$bars: f0c9;
$calendar: f133; // Regular
$location-dot: f3c5;

// Activity types
//==================================== */

$pen-to-square: f044; // Coursework
$award: f559; // Custom cert
$people-roof: e537; // Face-to-Face
$volume-high: f028; // Kaltura Media Assignment
$comment-dots: f4ad; // Open Forum
$blog: f781; // OU Blog
$book-bookmark: e0bb; // OU Wiki
$file-pdf: f1c1; // PDF Annotator
$calendar: f133; // Scheduler
$file-pen: f31c; // Turnitin

// Resource types
//==================================== */

$photo-film: f87c; // Kaltura Video Resource
$file-contract: f56c; // Poster
$table-columns: f0db; // Tab display

// Media
//==================================== */

$plus: 2b;
$download: f019;
$play: f04b; // Regular
$pause: f04c; // Regular
$share: f064;
$minus: f068;

// Contact
//==================================== */

$at: 40;
$phone: f095;
$envelope: f0e0;
$mobile-screen-button: f3cd;

// Social
//==================================== */

$tiktok: e07b;
$linkedin: f08c;
$facebook: f09a;
$twitter: f099;
$youtube: f167;
$instagram: f16d;
$snapchat: f2ab;
